{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}

    <table class="tablesorter hover">
        <thead>
        <tr>
            <th width="100px">Dato</th>
            <th width="100px">Bruker</th>
            <th width="100px">Kategori</th>
            <th>Objekt</th>
            <th>Melding</th>
        </tr>
        </thead>

        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.date|date:"d.m.y H:i" }}</td>
                <td>{{ log.creator }}</td>
                <td>{{ log.content_type }}</td>
                <td>{{ log.getObject }}</td>
                <td>{{ log.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}