
div#rightbar {
  width:300px;
  float:left;
  overflow:hidden;
  margin-left:30px;
  margin-top:20px;
}

div#textInRightBar {
  padding-left:30px;
}

#datepublished {
  font-size:10px;
  color:grey;
  font-weight:normal;
}

div#leftbar {
  min-height:800px;
  width:60%;
  clear:left;
  float:left;
  position:relative;
  display:inline;
  padding-right:30px;
  border-right:1px solid #c4c4c4;
  height:100%;
  overflow:hidden;
}
