<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load i18n %}
    {% load auth %}

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title>FocusTime</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" type="text/css" media="screen" title="no title"
          charset="utf-8"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/noticeui.css" type="text/css" media="screen" title="no title"
          charset="utf-8"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.js"></script>


    {% block extraHead %}
    {% endblock %}

</head>

<body>

{% load menu_tags %}

<div id="wrapper" class="clearfix">

<div id="top">
<div id="header">
    <h1><a href="/">TIME | {{ user.company }}</a></h1>
    <div id="info">
        <h4><a href="{% url app.admin.views.profile.edit %}">{{ user.first_name }} {{ user.last_name }}</a></h4>
        <p>
            <a href="/accounts/logout">Logg ut</a>
            <br/>
            {% if user.get_new_notifications.count %}
                <a href="{% url app.dashboard.views.notifications %}">{{ user.get_new_notifications.count }}
                    oppdateringer siden sist</a> |
            {% endif %}
        </p>
        <img width="30px" height="70px" src="{{ user.getProfileImage }}" alt="avatar"/>
    </div> <!-- #info -->
</div> <!-- #header -->

<div id="nav">

<ul class="mega-container mega-grey">


<li class="mega {% active request "^/dashboard/" %}">
    <a class="mega-tab" href="{% url app.dashboard.views.overview %}">Oppslagstavle</a>

    <div class="mega-content mega-menu ">
        <ul>
            <li><a href="{% url app.dashboard.views.overview %}">Oppslagstavle</a></li>
            {% require_permission LISTALL core.Log %}
            <li><a href="{% url app.dashboard.views.logs %}">Logoversikt</a></li>
            {% end_require %}
            {% require_permission LIST core.Notification %}
            <li><a href="{% url app.dashboard.views.notifications %}">Notifications</a></li>
            {% end_require %}
            {% require_permission CREATE announcements.Announcement %}
            <li><a href="{% url app.announcements.views.add %}">Legg til nytt oppslag</a></li>
            {% end_require %}
            {% require_permission LISTALL announcements.Announcement %}
            <li><a href="{% url app.announcements.views.overview %}">Oversikt</a></li>
            {% end_require %}
            {% require_permission LISTDELETED announcements.Announcement %}
            <li><a href="{% url app.announcements.views.overview_deleted %}">Slettede oppslag</a></li>
            {% end_require %}
        </ul>
    </div>
</li>

<li class="mega {% active request "^/customers/" %}">
    <a class="mega-tab" href="{% url app.customers.views.overview %}">Kunder</a>

    <div class="mega-content mega-menu ">
        <ul>

            {% require_permission CREATE customers.Customer %}
            <li><a href="{% url app.customers.views.add %}">Leggtil ny kunde</a></li>
            {% end_require %}

            {% require_permission LIST customers.Customer %}
            <li><a href="{% url app.customers.views.overview %}">Oversikt</a></li>
            {% end_require %}

            {% require_permission LISTDELETED customers.Customer %}
            <li><a href="{% url app.customers.views.overview_deleted %}">Slettede kunder</a></li>
            {% end_require %}
            {% require_permission LISTALL customers.Customer %}
            <li><a href="{% url app.customers.views.overview_all %}">Alle kunder</a></li>
            {% end_require %}

        </ul>
    </div>
</li>


<li class="mega {% active request "^/contacts/" %}">
    <a class="mega-tab" href="{% url app.contacts.views.overview %}">Kontakter</a>

    <div class="mega-content mega-menu ">
        <ul>
            {% require_permission CREATE contacts.Contact %}

            <li><a href="{% url app.contacts.views.add %}">Legg til ny kontakt</a></li>
            {% end_require %}

            {% require_permission LIST contacts.Contact %}

            <li><a href="{% url app.contacts.views.overview %}">Dine kontakter</a></li>
            {% end_require %}

            {% require_permission LISTALL contacts.Contact %}
            <li><a href="{% url app.contacts.views.overview_all %}">Alle kontakter</a></li>
            {% end_require %}

            {% require_permission LISTDELETED contacts.Contact %}
            <li><a href="{% url app.contacts.views.overview_deleted %}">Slettede kontakter</a></li>
            {% end_require %}

        </ul>
    </div>
</li>

<li class="mega {% active request "^/projects/" %}">
    <a class="mega-tab" href="{% url app.projects.views.overview %}">Prosjekter</a>

    <div class="mega-content mega-menu ">
        <ul>
            {% require_permission CREATE projects.Project %}
            <li><a href="{% url app.projects.views.add %}">Legg til nytt prosjekt</a></li>
            {% end_require %}
            {% require_permission LIST projects.Project %}
            <li><a href="{% url app.projects.views.overview %}">Dine prosjekter</a></li>
            {% end_require %}
            {% require_permission LIST projects.Project %}
            <li><a href="{% url app.projects.views.timeline %}">Tidslinje</a></li>
            {% end_require %}
            {% require_permission LISTALL projects.Project %}
            <li><a href="{% url app.projects.views.overview_all %}">Alle aktive prosjekter</a></li>
            {% end_require %}
            {% require_permission LISTDELETED projects.Project %}
            <li><a href="{% url app.projects.views.overview_deleted %}">Alle slettede prosjekter</a>
                {% end_require %}
            </li>
        </ul>
    </div>
</li>

<li class="mega {% active request "^/orders/" %}">
    <a class="mega-tab" href="{% url app.orders.views.overview %}">Ordrer</a>

    <div class="mega-content mega-menu ">
        <ul>
            {% require_permission CREATE orders.Order %}
            <li><a href="{% url app.orders.views.add %}">Legg til ny ordre</a></li>
            {% end_require %}
            {% require_permission LIST orders.Order %}
            <li><a href="{% url app.orders.views.overview %}">Ordrer</a></li>
            {% end_require %}
            {% require_permission CREATE orders.Order %}
            <li><a href="{% url app.orders.views.addOffer %}">Nytt tilbud</a></li>
            {% end_require %}
            {% require_permission CREATE orders.Order %}
            <li><a href="{% url app.orders.views.overviewOffers %}">Tilbud</a></li>
            {% end_require %}
            {% require_permission LISTREADYINVOICE orders.Order %}
            <li><a href="{% url app.orders.views.overviewReadyForInvoice %}">Klar til fakturing</a></li>
            {% end_require %}
            {% require_permission LISTARCHIVE orders.Order %}
            <li><a href="{% url app.orders.views.overviewArchive %}">Arkiv</a></li>
            {% end_require %}
        </ul>
    </div>
</li>

<li class="mega {% active request "^/hourregistrationsOLD/" %}">
    <a class="mega-tab" href="{% url app.hourregistrations.views.overview %}">Timeregistrering</a>

    <div class="mega-content mega-menu ">
        <ul>
            {% require_permission LIST hourregistrations.HourRegistration %}
            <li><a href="{% url app.hourregistrations.views.overview %}">Aktiv timeliste</a></li>
            {% end_require %}
            {% require_permission LISTARCHIVE hourregistrations.HourRegistration %}
            <li><a href="{% url app.hourregistrations.views.your_archive %}">Arkiv</a></li>
            {% end_require %}
            {% require_permission CREATE hourregistrations.HourRegistration %}
            <li><a href="{% url app.hourregistrations.views.add %}">Registrer manuelt</a></li>
            {% end_require %}
            {% require_permission LIST hourregistrations.HourRegistration %}
            <li><a href="{% url app.hourregistrations.views.calendar %}">Kalender</a></li>
            {% end_require %}

        </ul>
    </div>
</li>


<li class="mega {% active request "^/stock/" %}">
    <a class="mega-tab" href="{% url app.stock.products.views.overview %}">Lager</a>

    <div class="mega-content mega-menu ">
        <ul>
            <li><a href="{% url app.stock.products.views.overview %}">Produktoversikt</a></li>
            <li><a href="{% url app.stock.products.views.add %}">Nytt produkt</a></li>
            <li><a href="{% url app.stock.productgroups.views.add %}">Ny produktgruppe</a></li>
            <li><a href="{% url app.stock.products.views.overview_deleted %}">Slettede produkter</a></li>
            <ul>
                <li><a href="{% url app.suppliers.views.overview %}">Leverandøroversikt</a></li>
                <li><a href="{% url app.suppliers.views.add %}">Ny leverandør</a></li>
            </ul>
        </ul>
    </div>
</li>

<li class="mega {% active request "^/tickets/" %}">
    <a class="mega-tab" href="{% url app.tickets.views.overview %}">Tickets</a>

    <div class="mega-content mega-menu ">
        <ul>
            <li><a href="{% url app.tickets.views.overview %}">Alle tickets</a></li>
            <li><a href="{% url app.tickets.views.add %}">Ny ticket</a></li>
        </ul>
    </div>
</li>

<li class="mega {% active request "^/useradmin/" %} {% active request "^/groupadmin/" %}">
    <a class="mega-tab" href="{% url app.admin.views.user.overview %}">Admin</a>

    <div class="mega-content mega-menu ">
        <ul>
            {% require_permission LIST core.User %}
            <li><a href="{% url app.admin.views.user.overview %}">Oversikt</a></li>
            {% end_require %}
            {% require_permission CREATE core.User %}
            <li><a href="{% url app.admin.views.user.add %}">Legg til ny bruker</a></li>
            {% end_require %}
            {% require_permission LIST core.Group %}
            <li><a href="{% url app.admin.views.group.overview %}">Gruppeoversikt</a></li>
            {% end_require %}
            {% require_permission CREATE core.Group %}
            <li><a href="{% url app.admin.views.group.add %}">Legg til ny gruppe</a></li>
            {% end_require %}
            {% require_permission CONFIGURE core.Company %}
            <li><a href="{% url app.admin.views.company.editCompany %}">Firmadetaljer</a></li>
            {% end_require %}
        </ul>
    </div>
</li>
</ul>
</div>
<!-- #nav -->
</div> <!-- #top -->

<div id="content" class="xfluid">

    {% include "messages.html" %}

    {% block maincontent %}

    {% endblock %}

</div> <!-- #content -->

<div id="footer">

    <p>Focus Security AS.</p>

</div>
<!-- #footer -->

</div> <!-- #wrapper -->

</body>



{% block extraFooter %}


{% endblock %}



</html>