{% load i18n %}
{% load auth %}
{% load menu_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>FocusTime</title>

    <!--  REQUIRED FOR IE6 SUPPORT -->
    <style type="text/css">
        img, div {
            behavior: url({{ STATIC_URL }}iepngfix.htc)
        }</style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/facebox.js"></script>

    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/facebox.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<!--  START WRAPPER -->
<div id="wrapper">

    <div id="header"><h1>FocusTime</h1></div>
    <!--  end header -->

    <!--  START NAVIGATION -->
    <!-- the class "active" is used to highlight the current/active linke -->
    <div id="nav">
        <ul>
            <li class="{% active request "^/dashboard/" %}"><a class="{% active request "^/dashboard/" %}"
                                                               href="{% url app.dashboard.views.overview %}">Dashboard</a>
            </li>
            <li><a href="{% url app.customers.views.overview %}">Customers</a></li>
            <li><a href="{% url app.contacts.views.overview %}">Contacts</a></li>
            <li><a href="{% url app.contacts.views.overview %}">Contacts</a></li>
            <li><a href="{% url app.contacts.views.overview %}">Contacts</a></li>
            <li><a href="{% url app.contacts.views.overview %}">Contacts</a></li>
            <li><a href="{% url app.contacts.views.overview %}">Contacts</a></li>
        </ul>

    </div>
    <!--  end div #nav -->
    <!--  END NAVIGATION -->

    <!--  START SUB NAV -->

    <!-- the class "active" is used to highlight the current/active linke -->
    <div id="subnav">
        {% block submenu %}{% endblock %}
    </div>
    <!--  end div #subnav -->
    <!--  END SUB NAV -->

    <!--  START CONTENT -->
    <div id="content_wrapper">

        <!--  START PRIMARY CONTENT -->
        <div id="primary_content">


            {% include "messages.html" %}

            {% block maincontent %}

            {% endblock %}


        </div>

        <!--  START SIDEBAR -->
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <!--  START FOOTER -->
        <div id="footer">FocusTime</div>
        <!--  END FOOTER -->

    </div><!--  end div #wconent_rapper -->
    <!--  END CONTENT WRAPPER -->
</div>
<!--  END WRAPPER -->

</body>
</html>
