{% load i18n %}
{% load auth %}
{% load menu_tags %}
<!DOCTYPE HTML>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>FocusTime</title>

    <!--  REQUIRED FOR IE6 SUPPORT -->
    <style type="text/css">
        img, div {
            behavior: url({{ STATIC_URL }}iepngfix.htc)
        }</style>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-json.js"></script>

    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/jqueryui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/masked.js"></script>


    <script src="http://pixelmatrixdesign.com/uniform/jquery.uniform.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://pixelmatrixdesign.com/uniform/uniform.default.css" type="text/css"
          media="screen" charset="utf-8"/>

    <script>
        //$("select, input:checkbox, input:radio, input:file").uniform();
    </script>

</head>

<body>

<div id="wrapper">

    <div id="header">
        <div style="float:left"><h1>{{ user.get_company }}</h1></div>
        <div class="profile">
            Logget inn som
            <a href="{% url app.admin.views.profile.edit %}">{{ user }}</a> | <a
                href="{% url app.accounts.views.logout_view %}">Logg ut</a>
            {% if request.user.get_new_notifications %}
                <br/><br/>
                <b><a href="{% url app.dashboard.views.notifications %}">{{ request.user.get_new_notifications.count }}
                </b> {% trans "changes since last time you were logged in" %}</a>
            {% endif %}
        </div>
    </div>

    <div id="nav">
        <ul>
            <li class="{% active request "^/dashboard/" %}">
                <a class="{% active request "^/dashboard/" %}"
                   href="{% url app.dashboard.views.overview %}">Dashboard</a>
            </li>
            <li class="{% active request "^/customers/" %}">
                <a class="{% active request "^/customers/" %}"
                   href="{% url app.customers.views.overview %}">{% trans "Customers" %}</a>
            </li>
            <li class="{% active request "^/contacts/" %}">
                <a class="{% active request "^/contacts/" %}"
                   href="{% url app.contacts.views.overview %}">{% trans "Contacts" %}</a>
            </li>

            <li class="{% active request "^/projects/" %}">
                <a class="{% active request "^/projects/" %}"
                   href="{% url app.projects.views.project.overview %}">{% trans "Projects" %}</a>
            </li>

            <li class="{% active request "^/orders/" %}">
                <a class="{% active request "^/orders/" %}"
                   href="{% url app.orders.views.overview %}">{% trans "Orders" %}</a>
            </li>
            <li class="{% active request "^/hourregistrations/" %}">
                <a class="{% active request "^/hourregistrations/" %}"
                   href="{% url app.hourregistrations.views.calendar_today %}">{% trans "Hour registration" %}</a>
            </li>

            <li class="{% active request "^/tickets/" %}">
                <a class="{% active request "^/tickets/" %}"
                   href="{% url app.tickets.views.overview %}">{% trans "Tickets" %}</a>
            </li>

            <li class="{% active request "^/suppliers/" %}">
                <a class="{% active request "^/suppliers/" %}"
                   href="{% url app.suppliers.views.overview %}">{% trans "Suppliers" %}</a>
            </li>


            <li class="{% active request "^/stock/" %}">
                <a class="{% active request "^/stock/" %}"
                   href="{% url app.stock.views.product.overview %}">{% trans "Products" %}</a>
            </li>

            <li class="{% active request "^/admin/" %}">
                <a class="{% active request "^/admin/" %}"
                   href="{% url app.admin.views.user.overview %}">{% trans "Admin" %}</a>
            </li>

        </ul>
    </div>

    <div id="subnav">
        <div style="padding-top:5px; margin-right:5%; float:right;">
            <form action="{% url app.search.views.search %}">
                <input type="text" placeholder="search" name="s"/>
                <input type="submit" value="Søk"/>
            </form>
        </div>
    </div>

    <div id="content_wrapper">

        <div id="primary_content">
            {% include "messages.html" %}
            {% block maincontent %}
            {% endblock %}
        </div>

        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <div id="footer">FocusTime</div>
    </div>
</div>

</body>
</html>

{% if debug %}

    <div id="debug">
        <h2>Queries</h2>

        <p>
            {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}

            {% if sql_queries|length != 0 %}
                (<span style="cursor: pointer;"
                       onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>
                )
            {% endif %}

        </p>
        <table id="debugQueryTable" style="display: none;">
            <col width="1"></col>
            <col></col>
            <col width="1"></col>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SQL</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for query in sql_queries %}
                <tr class="{% cycle odd,even %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ query.sql|escape }}</td>
                    <td>{{ query.time }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

