{% load auth %}
{% load thumbnail %}
{% load i18n %}


<h2>
    {% if comments.list %}
        {{ comments.list|length }} {% trans "comments" %}
    {% else %}
        {% trans "Comments" %}
    {% endif %}
</h2>

<ul class="logs">

    {% if comments.list %}
        {% for comment in comments.list %}


            <li>

                <span class="logs-timestamp">{{ comment.date_created }}</span>

                <p>
                    {{ comment.text|linebreaks }}
                </p>

                <em class="logs-meta">Posted by <a href="#">{{ comment.creator }}</a></em>

            </li>

        {% endfor %}

    {% endif %}

</ul>

<table>
    <tr>
        <td><img src="{{ request.user.profileImage|thumbnail_with_max_side:"130" }}"
                 class="avatar_img" alt=""/></td>

        <td>
            <form action="" method="post">
                <div class="field">
                    {{ comments.form.text|escape }}
                </div>

                <br/>

                <div class="buttonrow">
                    <button name="new_comment" class="add_comment">{% trans "Add comment" %}</button>
                </div>
            </form>
        </td>
    </tr>
</table>