{% load auth %}
{% load i18n %}


<h2>
    {% if comments.list %}
        {{ comments.list|length }} {% trans "comments" %}
    {% else %}
        {% trans "Comments" %}
    {% endif %}
</h2>

<table>

    {% if comments.list %}
        {% for comment in comments.list %}
            <tr>
                <td><img width="120px" height="100px" src="{{ comment.creator.getProfileImage }}" class="avatar_img"
                         alt=""/></td>
                <td>
                    <p><strong>{{ comment.creator }}</strong> on {{ comment.date_created }}</p>

                    <p>{{ comment.text }}</p>
                </td>
            </tr>

        {% endfor %}

    {% endif %}

    <tr>
        <td><img width="130px" height="100px" src="{{ request.user.getProfileImage }}" class="avatar_img" alt=""/></td>
        <td>
            <form action="" method="post">
                <div class="field">
                    {{ user }} says:<br>
                    {{ comments.form.text|escape }}
                </div>

                <br/>

                <div class="buttonrow">
                    <button name="new_comment" class="add_comment">{% trans "Submit" %}</button>
                </div>
            </form>
        </td>
    </tr>


</table>