<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/datepickerNO.js"></script>

<script>
    $(function() {


        {% if from_date and to_date %}

        $("#id_{{ field }}").datepicker(
        {
            buttonImage: "{{ STATIC_URL }}icons/16/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd.mm.yy',
            maxDate: new Date({{ to_date|date:"Y" }}, {{ to_date|date:"m" }}-1, {{ to_date|date:"d" }}),
            minDate: new Date({{ from_date|date:"Y" }}, {{ from_date|date:"m" }}-1, {{ from_date|date:"d" }}),
        }
                );

        {% else %}
        {% if from_date %}

        $("#id_{{ field }}").datepicker(
        {
            buttonImage: "{{ STATIC_URL }}icons/16/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd.mm.yy',
            minDate: new Date({{ from_date|date:"Y" }}, {{ from_date|date:"m" }}-1, {{ from_date|date:"d" }}),
        }
                );

        {% else %}
        {% if to_date %}


        $("#id_{{ field }}").datepicker(
        {
            buttonImage: "{{ STATIC_URL }}icons/16/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd.mm.yy',
            maxDate: new Date({{ to_date|date:"Y" }}, {{ to_date|date:"m" }}-1, {{ to_date|date:"d" }}),

        }
                );

        {% else %}


        $("#id_{{ field }}").datepicker(
        {
            buttonImage: "{{ STATIC_URL }}icons/16/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd.mm.yy',
        }
                );
        {% endif %}{% endif %}{% endif %}

    });

</script>



