{% extends "base.html" %}

{% block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}


{% block extraHead %}
    {{ form.media }}


{% endblock %}

{% block maincontent %}

    {% block extraPortlet %}

    {% endblock %}

    <form enctype="multipart/form-data" class="form label-inline" action="" method="post">

        {% for field in form %}

            <div class="fieldWrapper{% if field.errors %} fielderror {% endif %}">
                {{ field.label }}
                {{ field }}
                {% if field.errors %}
                    <div style="margin-left:150px">{% for i in field.errors %}{{ i }}{% endfor %}</div>
                {% endif %}
            </div>

        {% endfor %}

        <div>
        <input type="submit" value="Lagre" class="btn" name="save"/>
    </div>

    </form>


{% endblock %}

