{% extends "base.html" %}

{% block extraHead %}
    {{ form.media }}
{% endblock %}

{% block maincontent %}

    <h1>{{ title }}</h1>
    <br>
    <br>

    {% if form.errors %}

        <div class="information" id="message">

            <p>Fix before submit again</p>

        </div>

        {% for i in form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <script>
        $(function() {
            $("#loading").hide();
            $("#form_button").click(function() {
                $("#form_button").hide();
                $("#loading").show();
            })
        })
    </script>


    <form enctype="multipart/form-data" method="post">
        <!-- Inputs -->
        <!-- Use class .small, .medium or .large for predefined size -->
        <fieldset>
            <legend>Legend</legend>
            <dl>
                {% for field in form %}
                    <dt>
                        <label>{{ field.label }}</label>
                    </dt>
                    <dd>
                        <span {% if field.errors %}style="color:red;" {% endif %}> {% for error in field.errors %} {{ error }} {% endfor %}</span>
                        {{ field }}
                        <p>Short description of event</p>
                    </dd>
                {% endfor %}
            </dl>
        </fieldset>

        <button type="submit">Submit</button>
        or <a href="#">Cancel</a>
    </form>


{% endblock %}

