<style>
body 					{
	background-color: #EAEAEA;
	font-family: Arial, Helvetica, sans-serif;
}

#admin_wrapper {
	width: 450px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #FFFFFF;
	border: 10px solid #d6d6d6;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}	

.small			{ width: 15%;}
.medium 		{ width: 35%;}
.large			{ width: 75%;}
.full			{width: 98%;}


form  label 	{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 12px;
	display: block;
	margin-top: 12px;
}

form p 			{
	padding: 0px;
	margin: 0px;
}

form .input {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	padding: 7px;
	background-color: #F3F3F3;
	
	}
form select {
	padding: 0px;
	margin: 0px;
}

form .button	{
	background-color: #D6D6D6;
	color: #666666;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	margin-top: 7px;
	margin-bottom: 7px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

input:focus	{
	background-color: #FFFFCC;
	border: 1px solid #999999;
}
</style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<div id="admin_wrapper">
	
	<h1>TIME</h1> <div style="position:absolute; margin-left:350px; margin-top:70px"><img src="/media/images/login.png"></div>
	
	<form id="myForm" method="POST">

		<p><label>Brukernavn</label>
	  	<input name="username" type="text" class="input large" value="" />
	  </p>
		
		<p><label>Password</label>
		<input name="password" type="password" class="input large" value="" />

	  </p>
	  
	  <p><input type="submit" name="Submit" id="button" value="Logg inn"  class="button"/>
		</p>
	</form>

</body>
</html>	