
<script type="text/javascript">
    $(function() {

        {% for field in form %}
            var {{ field_id }}_{{ field.name }} = $("#id_{{ field.html_name }}");
        {% endfor %}


        function validateForm(data) {

            if (data['valid'] == true) {
                $("#id_{{ field_id }}").append("<option value='" + data["id"] + "'>" + data["name"] + "</option>");
                $('#id_{{ field_id }} option[value=' + data['id'] + ']').attr('selected', 'selected');

                $("#dialog-form{{ field_id }}").dialog("close");

            }
            else {
                var K = data['errors']
                obj = eval(K);

                //Clean all error-fiels
                $(".errormessage").text("")

                $.each(obj, function(i, error) {
                    $("#error_{{ field_id }}_for_" + i).text(error);
                });

            }
        }

        $("#dialog-form{{ field_id }}").dialog({
            autoOpen: false,
            width: 550,
            modal: true,
            buttons: {
                "Legg til": function() {


                    $.post("{{ add_ajax_url }}",
                    {

                        {% for field in form %}
                            {{ field.name }}: {{ field_id }}_{{ field.name }}.val(),
                        {% endfor %}

                    },
                          function(data) {
                              validateForm(data);
                          }
                            );
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            },

            close:
            function() {
            }

        });

        $("#create_{{ field_id }}")
                .click(function() {
            $("#dialog-form{{ field_id }}").dialog("open");
        });

        $("#dialog-form{{ field_id }}").hide();

    });
</script>

<div id="dialog-form{{ field_id }}">
        <fieldset>
            {% for field in form %}
                {{ field.label }}
                <span class="errormessage" style='color:red' id="error_{{ field_id }}_for_{{ field.name }}"></span>
                <br>
                {{ field }}
                <br>
            {% endfor %}
        </fieldset>
</div>

<span id="create_{{ field_id }}"><img width="15" height="15" style='vertical-align:middle;'
                                      src="{{ STATIC_URL }}img/add.png"></span>