{% extends "base.html" %}

{% block submenu %}
    <a href="add"><span>Oprett nytt prosjekt</span></a>
{% endblock %}

{% block maincontent %}
    <table class="tablesorter">
        <thead>
        <tr>
            <th>Dato</th>
            <th>Timer</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>

        {% for p in timetrackings %}

            <tr>
                <td>{{ p.date|date:"d.m.Y" }}</td>
                <td>{{ p.hours_worked }}</td>
                <td>
                    <a href="{% url app.timetracking.views.edit p.id %}" class="edit admintool"><img
                            src="/media/images/icons/user_edit.png" alt=""></a>
                    <a href="{% url app.timetracking.views.delete p.id %}" class="edit admintool"><img
                            src="/media/images/icons/user_delete.png" alt=""></a>
                </td>
            </tr>

        {% endfor %}

        <tr>
            <td></td>
            <td><b>Sum: {{ timetrackings.count }}</b></td>
            <td></td>
        </tr>


        </tbody>
    </table>
{% endblock %}