{% extends "base.html" %}
{% load timetracking_tags %}

{% block submenu %}
    <a href="add"><span>Oprett nytt prosjekt</span></a>
{% endblock %}

{% block maincontent %}
<div class="portlet x12">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">

        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">

            <thead>
            <tr>
                <th>Dato</th>
                <th>Tidspunkt</th>
                <th>Ordre</th>
                <th>Timer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for p in timetrackings %}
            <tr>
                <td>{{ p.date|date:"d.m.Y" }} {{ p.hourly_rate }}</td>
                <td>{{ p.time_start }} - {{ p.time_end }}</td>
                <td>{{ p.order }}</td>
                <td>{{ p.hours_worked }}</td>
                <td>
                    {% require_valid_date_for_edit p %}
                    <div class="tool">
                        <a href="{% url app.timetracking.views.edit p.id %}"><img
                                class="tool" src="/media/icons/edit.gif" alt=""></a>
                    </div>
                    {% end_require %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="portlet x12">

    <div class="portlet-content">
        <div id="big_stats" class="clearfix">
            <div class="stat">
                <h4>timer arbeidet</h4>
                <span class="value">{{ sumHours }}</span>
            </div>
            <div class="stat">
                <h4>Tjent totalt etter skatt</h4>
                <span class="value">{{ sumTotalEarned }} kr</span>

            </div>
        </div>
    </div>
    <!-- .portlet-content -->
</div> <!-- .portlet -->




{% endblock %}