{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}
<div class="portlet x12">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">


    <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">
 
        <tbody>
        {% for o in objects %}
            <tr>
                <td><a href="{{ o.get_view_url }}">{{ o }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
</div>

{% endblock %}