{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <script>

    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day = today.getDate();
    var lastSelected = null;
    var selected = null;
    var last_used_url_calendar = "";
    var timetracking_id = 0;

    var textbox;

    function set_title() {
        $("#title_calendar").text(year + " - " + month);
        $("#title_calendar").css("font-size", "30px");
        $("#title_calendar").css("text-align", "center");
    }

    function fill_table(url) {
        $('#calendar_table tr').remove();

        last_used_url_calendar = url;

        $.getJSON(url,
                {
                    format: "json"
                },
                function(data) {

                    set_title();

                    $('#calendar_table tr').remove();

                    var week = data[0][0];

                    //Create row for day(Mon,thu..)
                    $('#calendar_table').last().append("<tr></tr>");
                    $('#calendar_table tr').last().append("<td>Uke</td>")
                    $('#calendar_table tr').last().append("<td>Man</td>")
                    $('#calendar_table tr').last().append("<td>Tirs</td>")
                    $('#calendar_table tr').last().append("<td>Ons</td>")
                    $('#calendar_table tr').last().append("<td>Tors</td>")
                    $('#calendar_table tr').last().append("<td>Fre</td>")
                    $('#calendar_table tr').last().append("<td>Lør</td>")
                    $('#calendar_table tr').last().append("<td>Søn</td>")
                    $('#calendar_table tr').last().append("<td>Total</td>")

                    //Create first row
                    $('#calendar_table').last().append("<tr></tr>");
                    $('#calendar_table tr').last().append("<td>" + data[0][0] + "</td>");

                    var total_week = 0;
                    var total = 0;

                    $.each(data, function(i, item) {

                        if (item[0] != week) {
                            //Create total row for last week
                            $('#calendar_table tr').last().append("<td>" + total_week.toFixed(2) + "</td>");
                            //Reset total
                            total_week = 0;
                            //Create new week
                            $('#calendar_table').last().append("<tr></tr>");
                            $('#calendar_table tr').last().append("<td>" + item[0] + "</td>");
                            week = item[0];
                        }

                        if (item[1] > 0) {
                            $('#calendar_table tr').last().append("<td class='" + item[2] + "'><div class='date_day'>" + item[1] + "</div><div class='date_hours'>" + item[3].toFixed(2) + "</div></td>")
                        } else {
                            $('#calendar_table tr').last().append("<td></td>");
                        }

                        total_week += item[3];
                        total += item[3];
                    });

                    //Create last week_total
                    $('#calendar_table tr').last().append("<td>" + total_week.toFixed(2) + "</td>");

                    //Create the month total
                    $('#calendar_table').last().append("<tr></tr>");
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td></td>")
                    $('#calendar_table tr').last().append("<td>" + total.toFixed(2) + "</td>")

                    //If day, reclick this day, this will also update the table_list
                    $.each($('#calendar_table .day').find(".date_day"), function() {
                        if ($(this).text() == day) {
                            $(this).click();
                        }
                    });

                    if (!day) {
                        $('#calendar_table .day').find(".date_day").first().parent().click();
                    }

                });
    }

    function fill_calendar_list(year, month, day) {

        var url = "/hourregistrations/calendar/" + year + "/" + month + "/" + day + "/";

        $('#calender_list tbody tr').remove();

        $.getJSON(url,
                {
                    format: "json"
                },
                function(data) {
                    $.each(data, function(i, item) {
                        $('#calender_list tbody').last().append("<tr></tr>")
                        $('#calender_list tbody tr').last().append("<td class='id' style='display:none;'>" + item.id + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='time_start' style='display:none;'>" + item.time_start + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='time_end' style='display:none;'>" + item.time_end + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='order' style='display:none;'>" + item.order + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='order_name' style='display:none;'>" + item.order_name + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='pause' style='display:none;'>" + item.pause + "</td>");
                        $('#calender_list tbody tr').last().append("<td class='description' style='display:none;'>" + item.description + "</td>");

                        $('#calender_list tbody tr').last().append("<td>" + item.hours_worked + " </td>");
                        $('#calender_list tbody tr').last().append("<td>" + item.time_start + " - " + item.time_end + " </td>");
                        $('#calender_list tbody tr').last().append("<td>" + item.customer_name + " - " + item.order_name + " </td>");
                        $('#calender_list tbody tr').last().append("<td> <a href='#' class='edit_hour_registration'> endre</a></td>");
                    });
                });
    }

    function increment_month() {

        if (month == 12) {
            month = 1;
            year = year + 1;
        }
        else {
            month += 1;
        }

        fill_table("/hourregistrations/calendar/" + year + "/" + month + "/");

    }

    function decrement_month() {
        if (month == 1) {
            month = 12;
            year = year - 1;
        }
        else {
            month -= 1;
        }
        fill_table("/hourregistrations/calendar/" + year + "/" + month + "/");

    }

    function show_div_form_edit() {
        $("#div_form_new").hide();
        $("#div_form_edit").show();
    }

    function show_div_form_new() {
        $("#div_form_edit").hide();
        $("#div_form_new").show();
    }

    function clean_form_and_id() {
        timetracking_id = 0;
        $("#id_time_start").val("");
        $("#id_time_end").val("");
        $("#id_pause").val("0");
        $("#id_description").val("");
        $("#hours_worked_in_form").text("");
        textbox.val("");
    }

    function calculate_hours_worked_in_form() {

        var hours_worked = 0;
        var time_start = $("#id_time_start").val();
        var time_end = $("#id_time_end").val();

        if (time_start.length == 5 && time_end.length == 5) {

            var diff = new Date(new Date("2010-10-10 " + time_end) - new Date("2010-10-10 " + time_start));
            hours_worked = (diff / 1000 / 60 / 60) - $("#id_pause").val();
            if (hours_worked > 0) {
                $("#hours_worked_in_form").text((hours_worked).toFixed(2) + " {% trans "hours" %}");
                return;
            }
        }
        $("#hours_worked_in_form").text(0 + " {% trans "hours" %}");
    }

    function show_form_if_date_valid_for_edit() {
        $.ajax({
                    url: '/hourregistrations/calendar/date_valid_for_edit/' + year + '/' + month + '/' + day + '/',
                    success: function(data) {
                        if (data) {
                            $("#calender_form").show();
                        } else {
                            $("#calender_form").hide();
                        }
                    }
                });
    }

    $(document).ready(function () {

        fill_table("/hourregistrations/calendar/" + year + "/" + month + "/");

        show_div_form_new();

        $("#id_pause").after("<span id='hours_worked_in_form'>0 {% trans "hours" %}</span>");

        $("#id_time_start").change(function() {
            calculate_hours_worked_in_form();
        });
        $("#id_time_end").change(function() {
            calculate_hours_worked_in_form();
        });
        $("#id_pause").change(function() {
            calculate_hours_worked_in_form();
        });

        $("#decrement_month_arrow").click(function() {
            decrement_month();
        });

        $("#increment_month_arrow").click(function() {
            increment_month();
        });

        $("#cancel_edit").click(function() {
            clean_form_and_id();
            show_div_form_new();
        });

        $(".form_button").click(function() {

            var date = year + "-" + month + "-" + day;
            var order = $("#id_order").val();
            var time_start = $("#id_time_start").val();
            var time_end = $("#id_time_end").val();
            var pause = $("#id_pause").val();
            var description = $("#id_description").val();

            $.ajax({
                        url: '/hourregistrations/calendar/form/',
                        type:"POST",
                        data: ({id:timetracking_id, date:date, order:order, time_start:time_start, time_end:time_end, pause:pause, description:description}),
                        success: function(data) {
                            //Refresh calendar
                            fill_table(last_used_url_calendar);
                        }
                    });
            clean_form_and_id();
        });

        $(".edit_hour_registration").live("click", function() {
            show_div_form_edit();
            timetracking_id = $(this).parent().parent().find(".id").text();
            $("#id_time_start").val($(this).parent().parent().find(".time_start").text());
            $("#id_time_end").val($(this).parent().parent().find(".time_end").text());
            $("#id_order").val($(this).parent().parent().find(".order").text());
            textbox.val($(this).parent().parent().find(".order_name").text());
            $("#id_pause").val($(this).parent().parent().find(".pause").text());
            $("#id_description").val($(this).parent().parent().find(".description").text());
        });


        $('.day').live("click", function() {
            lastSelected = selected;
            selected = $(this);
            day = selected.find(".date_day").text();

            show_form_if_date_valid_for_edit();

            if (lastSelected) {
                lastSelected.css("background-color", "");
                lastSelected.css("opacity", "1");
            }

            fill_calendar_list(year, month, selected.find(".date_day").text());

            $(this).css("background-color", "#D4D4D4");
            $(this).css("opacity", ".4");

        });
    });
    </script>


    <style>
        #calender_table {
            width: 60%;
            float: left;
        }

        #calender_form {
            margin-left: 20px;
            width: 30%;
            float: left;
        }

        #calender_list {
            margin-top:430px;
            width: 100%;
        }

        .date_day {
            font-size: 9px;
        }
    </style>


    <div id="title_calendar"></div>
    <div id="arrows" style="text-align:center;">
        <a href="#" id="decrement_month_arrow"><<</a> |
        <a href="#" id="increment_month_arrow">>></a>
    </div>

    <style>
        .ui-autocomplete-input {
            margin: 0;
            padding: 0.48em 0 0.47em 0.45em;
        }
    </style>
    <script>
        (function($) {
            $.widget("ui.combobox", {
                        _create: function() {
                            var self = this,
                                    select = this.element.hide(),
                                    selected = select.children(":selected"),
                                    value = selected.val() ? selected.text() : "";
                            var input = this.input = $("<input id='text_for_order'>")
                                    .insertAfter(select)
                                    .val(value)
                                    .autocomplete({
                                        delay: 0,
                                        minLength: 0,
                                        source: function(request, response) {
                                            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                                            response(select.children("option").map(function() {
                                                var text = $(this).text();
                                                if (this.value && ( !request.term || matcher.test(text) ))
                                                    return {
                                                        label: text.replace(
                                                                new RegExp(
                                                                        "(?![^&;]+;)(?!<[^<>]*)(" +
                                                                                $.ui.autocomplete.escapeRegex(request.term) +
                                                                                ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                                                ), "<strong>$1</strong>"),
                                                        value: text,
                                                        option: this
                                                    };
                                            }));
                                        },
                                        select: function(event, ui) {
                                            ui.item.option.selected = true;
                                            self._trigger("selected", event, {
                                                        item: ui.item.option
                                                    });
                                        },
                                        change: function(event, ui) {
                                            if (!ui.item) {
                                                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
                                                        valid = false;
                                                select.children("option").each(function() {
                                                    if ($(this).text().match(matcher)) {
                                                        this.selected = valid = true;
                                                        return false;
                                                    }
                                                });
                                                if (!valid) {
                                                    // remove invalid value, as it didn't match anything
                                                    $(this).val("");
                                                    select.val("");
                                                    input.data("autocomplete").term = "";
                                                    return false;
                                                }
                                            }
                                        }
                                    })
                                    .addClass("ui-widget ui-widget-content ui-corner-left");


                            //For getting the new textfield
                            textbox = input;


                            input.data("autocomplete")._renderItem = function(ul, item) {
                                return $("<li></li>")
                                        .data("item.autocomplete", item)
                                        .append("<a>" + item.label + "</a>")
                                        .appendTo(ul);
                            };

                            this.button = $("<button type='button'>&nbsp;</button>")
                                    .attr("tabIndex", -1)
                                    .attr("title", "Show All Items")
                                    .insertAfter(input)
                                    .button({
                                        text: false
                                    })
                                    .removeClass("ui-corner-all")
                                    .addClass("ui-corner-right ui-button-icon")
                                    .click(function() {
                                // close if already visible
                                if (input.autocomplete("widget").is(":visible")) {
                                    input.autocomplete("close");
                                    return;
                                }

                                // work around a bug (likely same cause as #5265)
                                $(this).blur();

                                // pass empty string as value to search for, displaying all results
                                input.autocomplete("search", "");
                                input.focus();
                            });
                        },

                        destroy: function() {
                            this.input.remove();
                            this.button.remove();
                            this.element.show();
                            $.Widget.prototype.destroy.call(this);
                        }
                    });
        })(jQuery);

        $(function() {
            $("#id_order").combobox();
            $("#toggle").click(function() {
                $("#id_order").toggle();
            });
        });
    </script>


    <div id="calender_table">
        <table id="calendar_table"></table>
    </div>

    <div id="calender_form">
        <form action="">
            {% for field in form %}
                {{ field.label }}
                <span class="errormessage" style='color:red' id="error_{{ field_id }}_for_{{ field.name }}"></span>
                <br>
                {{ field }}
                <br>
            {% endfor %}

            <div id="div_form_edit">
                <button type="button" class="form_button">Lagre endringer"</button>
                <a href="#" id="cancel_edit">Avbryt</a>
            </div>

            <div id="div_form_new">
                <button type="button" class="form_button">Lagre ny timeføring</button>
            </div>
        </form>
    </div>

    <div id="calender_list">
        <table>

            <thead>
            <tr>
                <th>{% trans "Hours" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Order" %}</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}