{% extends "base.html" %}
{% load timetracking_tags %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}

<style type="text/css">

    #month {
        width: 100%;
        height: 60px;
        font-size: 40px;
        text-align: center;

    }

    #weeks {
        color: black;
        background-color: #ff5c00;
        height: 50px;
        text-align: center;
    }

    #weeks a {
        color: black;
    }

    .week {
        border-right: 1px solid black;
        float: left;
        width: 18%;
        height: 50px;
    }

    .pressed {
        background-color: #ffb515;
    }

    #days {
        text-align: center;
        width: 100%;
        height: 50px;
    }

    .day {
        width: 100px;
        float: left;
    }

    #activities {
        width: 100%;
        min-height: 500px;
    }

    .activity {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        border-bottom: 1px solid grey;
    }

</style>

<div id="month"> {% month_title_with_arrows year month week day %}</div>
<div id="weeks">
    {% for weeks in weeks %}
        <div class="week {% ifequal weeks week %}
             pressed
                {% endifequal %}">
            <a href="{% url app.hourregistrations.views.calendar year month weeks day %}">Week {{ weeks }}</a>
        </div>
    {% endfor %}
</div>

<div id="days">
    {% for dayk in days %}
        <div class="day"{% ifequal dayk.day day %}
             style="background-color:gray;"
                {% endifequal %}><a
                href="{% url app.hourregistrations.views.calendar year month week dayk.day %}">{{ dayk }}</a>
        </div>
    {% endfor %}
</div>

<script src="{{ STATIC_URL }}js/quicksearch.js"></script>
<script>
    $(document).ready(function() {
        $('#filter').quicksearch("#dataTable tbody tr");
    });

</script>

<div class="searchBox">
    <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
</div>
<table id="dataTable">
    <thead>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Date time" %}</th>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Hours" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for p in hourregistrations %}
    <tr>
        <td>{{ p.date|date:"d.m.Y" }} {{ p.hourly_rate }}</td>
        <td>{{ p.time_start }} - {{ p.time_end }}</td>
        <td>{{ p.order }}</td>
        <td>{{ p.hours_worked }}</td>
        <td>
            {% require_valid_date_for_edit p %}
            <div class="tool">
                <a href="{{ p.getEditUrl }}"><img
                        class="tool" width="24px" height="24px" src="{{ STATIC_URL }}img/edit.png" alt=""></a>
            </div>
            {% end_require %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="stat" style="width:200px">
    <h4>{% trans "Sum hours worked" %}</h4>
    <span class="value">{{ sumHours }}</span>
</div>

<div class="stat" style="width:250px">
    <h4>{% trans "kilometres" %}</h4>
    <span class="value">{{ sumKilometers }} km</span>
</div>

<div class="stat" style="width:260px">
    <h4>{% trans "disbursments" %}</h4>
    <span class="value">{{ sumDisbursements }} kr</span>
</div>

<div class="stat" style="width:250px">
    <h4>{% trans "Total earned after tax" %}</h4>
    <span class="value">{{ sumTotalEarned }} kr</span>
</div>
{% endblock %}