{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}

{% endblock %}


{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <script>

        $(document).ready(function () {
            $('#add_new').click(function() {
                addXtraFields();
            });
        });

        $(document).ready(function () {
            $('#add_new_driving').click(function() {
                addXtraFieldsDriving();
            });
        });

        function newInputElement(num, type, field) {
            return "<div class='field'><input type='text' value='' maxalength='255' name='" + type + "-" + num + "-" + field + "' id='id_" + type + "-" + num + "-" + field + "'></div>";
        }

        function newChecboxElement(num, type) {
            return "<div class='field'><input type='checkbox' name='" + type + "-" + num + "-DELETE' id='id_" + type + "-" + num + "-DELETE'></div>";
        }

        function addXtraFields() {
            var newFieldNum = parseInt($('#id_disbursement-TOTAL_FORMS').val());
            var newli = '';
            $('#id_disbursement-TOTAL_FORMS').val(newFieldNum + 1);
            input = newInputElement(newFieldNum, "disbursement", "description");
            pris = newInputElement(newFieldNum, "disbursement", "price");
            del = newChecboxElement(newFieldNum, "disbursement");
            $('#disbursmentlist > tbody:last').append('<tr><td>' + input + '</td><td>' + pris + '</td><td>' + del + '</td></tr>');
        }

        function addXtraFieldsDriving() {
            var newFieldNum = parseInt($('#id_driving-TOTAL_FORMS').val());
            var newli = '';
            $('#id_driving-TOTAL_FORMS').val(newFieldNum + 1);
            description = newInputElement(newFieldNum, "driving", "description");
            time_start = newInputElement(newFieldNum, "driving", "time_start");
            kilometres = newInputElement(newFieldNum, "driving", "kilometres");
            time_end = newInputElement(newFieldNum, "driving", "time_end");
            del = newChecboxElement(newFieldNum, "driving");
            $('#drivingList > tbody:last').append('<tr><td>' + description + '</td><td>' + time_start + '</td><td>' + time_end + '</td><td>' + kilometres + '</td><td>' + del + '</td></tr>');
        }

    </script>



    <form enctype="multipart/form-data" class="form label-inline" action="" method="post">

        <div class="portlet x6">
            <div class="portlet-header"><h4>{{ title }}</h4></div>
            <div class="portlet-content">

                {% for field in form %}
                    <div class="field">
                        {{ field.label_tag }}

                        {{ field }}

                        {% for error in field.errors %}
                            <span class="errorlist">{{ error }}  </span>
                        {% endfor %}
                    </div>
                {% endfor %}
                {{ form.media }}
                <input type="submit" value="Lagre" class="btn" name="save"/>
            </div>
        </div>


        <div class="portlet x6">
            <div class="portlet-header"><h4>{% trans "Disbursements" %}</h4></div>
            <div class="portlet-content">
                {{ DisbursementFormSet.management_form }}

                <table id="disbursmentlist">
                    {% for forms in DisbursementFormSet.forms %}
                        {{ forms.id }}
                        <tr>
                            <td>
                                <div class="field">{{ forms.description }}</div>
                            </td>
                            <td>
                                <div class="field">{{ forms.price }}</div>
                            </td>
                            <td>
                                {{ forms.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}

                    <p id="add_new">{% trans "New disbursement" %}</p>

                </table>

                <br>

            </div>
        </div>

        <div class="portlet x12">
            <div class="portlet-header"><h4>{% trans "Driving" %}</h4></div>
            <div class="portlet-content">
                {{ DrivingRegistrationFormSet.management_form }}

                <table id="drivingList">
                    <thead>

                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Time start" %}</th>
                    <th>{% trans "Time stop" %}</th>
                    <th>{% trans "kilometres" %}</th>
                    <th>{% trans "delete" %}</th>

                    </thead>

                    {% for forms in DrivingRegistrationFormSet.forms %}
                        {{ forms.id }}
                        <tr>
                            <td>
                                <div class="field">{{ forms.description }}</div>
                            </td>
                            <td>
                                <div class="field">{{ forms.time_start }}</div>
                            </td>
                            <td>
                                <div class="field">{{ forms.time_end }}</div>
                            </td>
                            <td>
                                <div class="field">{{ forms.kilometres }}</div>
                            </td>
                            <td>
                                {{ forms.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}

                    <p id="add_new_driving">{% trans "New drive registration" %}</p>

                </table>
            </div>
        </div>
    </form>
    {% block extra %}
    {% endblock %}

{% endblock %}

