{% extends "base.html" %}
{% load timetracking_tags %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}
<script src="{{ STATIC_URL }}js/quicksearch.js"></script>
<script>
    $(document).ready(function() {
        $('#filter').quicksearch("#dataTable tbody tr");
    });

</script>

<h1>{{ title }}</h1>
<div class="searchBox">
    <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
</div>
<table id="dataTable">
    <thead>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Date time" %}</th>
        <th>{% trans "Order" %}</th>
        <th>{% trans "Hours" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for p in hourregistrations %}
    <tr>
        <td>{{ p.date|date:"d.m.Y" }} {{ p.hourly_rate }}</td>
        <td>{{ p.time_start }} - {{ p.time_end }}</td>
        <td>{{ p.order }}</td>
        <td>{{ p.hours_worked }}</td>
        <td>
            {% require_valid_date_for_edit p %}
            <div class="tool">
                <a href="{{ p.getEditUrl }}"><img
                        class="tool" width="24px" height="24px" src="{{ STATIC_URL }}img/edit.png" alt=""></a>
            </div>
            {% end_require %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="stat" style="width:200px">
    <h4>{% trans "Sum hours worked" %}</h4>
    <span class="value">{{ sumHours }}</span>
</div>

<div class="stat" style="width:250px">
    <h4>{% trans "kilometres" %}</h4>
    <span class="value">{{ sumKilometers }} km</span>
</div>

<div class="stat" style="width:260px">
    <h4>{% trans "disbursments" %}</h4>
    <span class="value">{{ sumDisbursements }} kr</span>
</div>

<div class="stat" style="width:250px">
    <h4>{% trans "Total earned after tax" %}</h4>
    <span class="value">{{ sumTotalEarned }} kr</span>
</div>


{% endblock %}