{% extends "base.html" %}
{% load timetracking_tags %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}


    <style>
        .summary_number {
            font-size: 40px;
        }

        .summary_desc {
            font-size: 20px;
        }

    </style>

    <h1>{{ title }}</h1>

    <div style="position:absolute; margin-left:650px; margin-top:-40px;" >
        <a target="_blank" href="1"><img src="{{ STATIC_URL }}/img/printer.png"></a>
    </div>


    <div id="calender_list">
        <table>

            <thead>
            <tr>
                <th>{% trans "Hours" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Order" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for registration in hourregistrations %}
                <tr>
                    <td>{{ registration.hours }}</td>
                    <td>{{ registration.date|date:"d.m.Y" }} {{ registration.time_start }}-{{ registration.time_end }}</td>
                    <td>{{ registration.order }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="summary">

        {% for key,value in sum_totals.items %}
        <div>
            <span class="summary_number">{{ value }}</span>
            <span class="summary_desc">{{ key }}</span>
        </div>
        {% endfor %}
    
    </div>

{% endblock %}