{% load menu_tags %}
{% load i18n %}
{% load auth %}

<ul>

    <li><a class="{% active request "hourregistrations/$" %}"
           href="{% url app.hourregistrations.views.calendar_today %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "YOUR TIMESHEET" %}</a></li>

    <li><a class="{% active request "archive" %}"
           href="{% url app.hourregistrations.views.your_archive %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "ARCHIVE" %}</a></li>


    {% require_permission MANAGE hourregistrations.HourRegistration %}
    <li><a class="{% active request "/employees/$" %}"
           href="{% url app.hourregistrations.views.list_all_employees %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "ALL TIMESHEET" %}</a></li>
    {% end_require %}


    <li><a class="{% active request "hourregistrations/disbursements/" %}"
           href="{% url app.hourregistrations.views.disbursements %}"><img
            src="{{ STATIC_URL }}img/disbursements.png" width="24" height="24" alt="Home"/>{% trans "DISBURSEMENTS" %}</a></li>
</ul>