{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h1>{{ title }} </h1>

    <div class="ui-widget" style="width:100px;">
        <form action="" method="POST">
            {{ form }}
            <input type="submit" value="{% trans "Save" %}">
        </form>

    </div>

    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>
    <table id="dataTable">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Rate" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>{{ type.rate }}</td>
                <td><a href="{{ type.get_edit_url }}">endre</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}