{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block sidebar %}
    {% include "hourregistrations/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h1>{{ title }} </h1>

        {% include "form_fields.html" %}

<br><br><br><br>
    <table class="datatable">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Rate" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>{{ type.rate }}</td>
                <td><a href="{{ type.get_edit_url }}">endre</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}