{% load i18n %}

<h1>{{ title }}</h1>
<br>
<br>

{% if form.errors %}

    <div class="information" id="message">
        <p>Fix before submit again</p>
    </div>

    {% for i in form %}
        {% if i.errors %}
            {{ i.label }}{{ i.errors }}
        {% endif %}
    {% endfor %}

    <br><br>
{% endif %}

<div style="width:805px;">
    <form enctype="multipart/form-data" class="form label-inline" method="post">
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label }}
                <span {% if field.errors %}style="color:red;" {% endif %}> {% for error in field.errors %} {{ error }} {% endfor %}</span>
                <br>{{ field }}
            </div>
        {% endfor %}

        <div>
            <input type="submit" value="Lagre" id="form_button" class="btn" name="save"/>

            <div id="loading">Loading...</div>
        </div>
    </form>
</div>

<script>
    $(function() {
        $("#loading").hide();
        $("#form_button").click(function() {
            $("#form_button").hide();
            $("#loading").show();
        });
    })
</script>

<style>
    .ui-autocomplete-loading {
        background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
</style>
<script>
    $(function() {

        var availableTags = []

        $.getJSON("/api/filetags/",
                {
                    format: "json"
                },
                function(data) {
                    $.each(data, function(i, item) {
                        availableTags.push(item.name);
                    });
                }
        );

        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            return split(term).pop();
        }

        $("#id_tags")
            // don't navigate away from the field on tab when selecting an item
                .bind("keydown", function(event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).data("autocomplete").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    minLength: 0,
                    source: function(request, response) {
                        // delegate back to autocomplete, but extract the last term
                        response($.ui.autocomplete.filter(
                                availableTags, extractLast(request.term)));
                    },
                    focus: function() {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function(event, ui) {
                        var terms = split(this.value);
                        // remove the current input
                        terms.pop();
                        // add the selected item
                        terms.push(ui.item.value);
                        // add placeholder to get the comma-and-space at the end
                        terms.push("");
                        this.value = terms.join(", ");
                        return false;
                    }
                });
    });
</script>
<br>

{% if file.id %}
    <h2>{% trans "Download current version" %}</h2>

    <table id="dataTable">
        <thead>
        <tr>
            <th style="width:200px;">{% trans "Date" %}</th>
            <th style="width:200px;">{% trans "Saved by" %}</th>
            <th style="width:200px;">{% trans "Name" %}</th>
            <th style="width:200px;">{% trans "Download" %}</th>
            <th style="width:200px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ file.date_edited|date:"d.m.Y H:i" }}</td>
            <td>{{ file.editor }}</td>
            <td><img class="icon_for_file" src="{{ file.get_file_icon}}"
                     alt=""/> {{ file.name }}</td>
            <td><a href="{{ file.get_file }}" target="_blank"><img
                    style="vertical-align: middle; border:0px; width:30px; height: 30px;"
                    src="{{ STATIC_URL }}img/download.png">{% trans "download" %}</a></td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endif %}

{% if file.get_revisions %}
    <h2>{% trans "View or recover revisions" %}</h2>

    <table id="dataTable">
        <thead>
        <tr>
            <th style="width:200px;">{% trans "Date" %}</th>
            <th style="width:200px;">{% trans "Saved by" %}</th>
            <th style="width:200px;">{% trans "Name" %}</th>
            <th style="width:200px;">{% trans "Download" %}</th>
            <th style="width:200px;">{% trans "Recover" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for f in file.get_revisions %}
            <tr>
                <td>{{ f.date_created|date:"d.m.Y H:i" }}</td>
                <td>{{ f.editor }}</td>
                <td><img class="icon_for_file" src="{{ f.get_file_icon}}"
                         alt=""/> {{ f.name }}</td>
                <td><a href="{{ f.get_file }}" target="_blank"><img
                        style="vertical-align: middle; border:0px; width:30px; height: 30px;"
                        src="{{ STATIC_URL }}img/download.png">{% trans "download" %}</a></td>
                <td><a href="{{ f.get_recover_url }}" target="_blank"><img
                        style="vertical-align: middle; border:0px; width:30px; height: 30px;"
                        src="{{ STATIC_URL }}img/backup.png">{% trans "recover" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

