{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}


{% block maincontent %}

<div id="inner">

	<b>Beskrivelse</b><br>
	<a target="_blank" href="/media/{{file.file}}">Last ned filen</a>
	<br><br>
	<b>Hvem som kan se denne filen</b>
  <br><br>
  <table>
    <tr>
      <th>Fullt navn</th>
    </tr>
    {% for user in whoCanSeeThis %}
      <tr>
        <td><a href="{% url app.admin.users.views.view user.id %}">{{user.first_name}} {{user.last_name}}</a></td>
      </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}