{% extends "base.html" %}
{% block submenu %}
	<a href="add"><span>Registrer ny bugg</span></a>
{% endblock %}


{% block maincontent %}	
      
        
				<table class="tablesorter hover">
					<thead> 
						<tr> 
						  <th></th>
							<th>Navn</th> 
							<th>Status</th>
							<th>Registrert</th>
							<th>Sist endret</th>
							<th>Kommentarer</th>
							<th>Valg</th> 		 
						</tr> 
					</thead>
					
		<tbody>
		{% for b in bugs %}
			<tr> 
        <td>   
          {% if request.user in b.usersNotSeenChanges.all %}<span style="color:red">*</span>{% endif %}</td>
				<td><a href="{% url app.bugreporting.views.view b.id %}">{{b.title}}</a></td> 
				<td>
					{% if b.closed %}
				    CLOSED
				    {% else %}
				    OPEN
				    {% endif %}	
				</td>
				<td>{{ b.date_created|date:"d.m.Y H:i" }}</td>
				<td>{{ b.date_edited|date:"d.m.Y H:i" }}</td>
				<td>{{ b.comments.count }}</td>
				<td>
				<a href="{% url app.bugreporting.views.edit b.id %}" class="edit admintool"><img src="/media/images/icons/user_edit.png" alt=""></a>
				<a href="{% url app.bugreporting.views.delete b.id %}" class="edit admintool"><img src="/media/images/icons/user_delete.png" alt=""></a>
				</td>
			</tr>
		{% endfor %}	
		</tbody>			
	</table>
	

{% endblock %}