{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}


<div id="inner">
  
     <h4>
    Status: 
    {% if ticket.closed %}
    CLOSED
    {% else %}
    OPEN
    {% endif %}
    </h4> 
        
    <br><br>
    		 
	<div class="bugboxesQ">
		<div class="bugboxesInfo">
			<h1 style="float:left;">{{ticket.title}}</h1>
			
			<div class="createInfo">
					Lagt inn av: {{ticket.creator.first_name}}<br>
					Opprettet: {{ticket.date_created|date:"d.m.Y H:i"}}
			</div>
			
			
			<hr>
		</div>
		
    	{{ticket.description}}


	</div>
	
	{% for cm in comments %}
         
	<div class="bugboxes">
		<div class="bugboxesInfo">
			<h1 style="float:left;">{{cm.title}}</h1>
			
			<div class="createInfo">
					Lagt inn av: {{cm.creator.first_name}}<br>
					Opprettet: {{cm.date_created|date:"d.m.Y H:i"}}
			</div>
			
			
			<hr>
		</div>
		
    	{{cm.text}}
		
	</div>
     
	{% endfor %}
  
  <br><br>   
  
  <h1>Ny kommentar</h1>
  <form enctype="multipart/form-data" action="{% url app.bugreporting.views.addComment ticket.id %}" method="post">
      
      {{commentForm.as_p}}
      
      <input type="submit" value="Lagre">
      </form>
	  

  
</div>  
   
{% endblock %}  