{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}


<div id="inner">
  
    
    Status: 
    {% if ticket.closed %}
      <h4> CLOSED </h4>
       <a href="{% url app.bugreporting.views.changeStatus ticket.id %}">OPEN AGAIN</a>
    {% else %}
      <h4>OPEN</h4>
      <a href="{% url app.bugreporting.views.changeStatus ticket.id %}">CLOSE THIS</a>
    {% endif %}
        
    <br><br>
    		 
	<div class="bugboxesQ">
		<div class="bugboxesInfo">
			<h1 style="float:left;">{{ticket.title}}</h1>
			
			<div class="createInfo">
					Lagt inn av: {{ticket.creator.first_name}} {{ticket.creator.last_name}}<br>
					Opprettet: {{ticket.date_created|date:"d.m.Y H:i"}}
			</div>
			
			
			<hr>
		</div>
		
    	{{ticket.description}}

      <br><br>
      {% if ticket.image %}
        <img width="100%" height="100%" src="/media/{{MEDIA_ROOT}}{{ticket.image}}">
      {% endif %}
      
      
	</div>
	
	{% for cm in comments %}
         
	<div class="bugboxes">
		<div class="bugboxesInfo">
			<h1 style="float:left;">{{cm.title}}</h1>
			
			<div class="createInfo">
					Lagt inn av: {{cm.creator.first_name}} {{cm.creator.last_name}}<br>
					Opprettet: {{cm.date_created|date:"d.m.Y H:i"}}
			</div>
			
			
			<hr>
		</div>
		
    	{{cm.text}}
		
		  <br><br>
		  {% if cm.image %}
		    <img width="100%" height="100%" src="/media/{{MEDIA_ROOT}}{{cm.image}}">
		  {% endif %}
		  
		
	</div>
     
	{% endfor %}
  
  <br><br>   
  
  <h1>Ny kommentar</h1>
  <form enctype="multipart/form-data" action="{% url app.bugreporting.views.addComment ticket.id %}" method="post">
    
      {{commentForm.errors}}
      
      {{commentForm.as_p}}
      
      <input type="submit" value="Lagre">
      </form>
	  

  
</div>  
   
{% endblock %}  