{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}


<div id="inner">
  
  
  <div id="leftbar">
   <h4>
    Status: 
    {% if ticket.closed %}
    CLOSED
    {% else %}
    OPEN
    {% endif %}
    </h4> 
    
    <a href="{% url app.bugreporting.views.changeStatus ticket.id %}">endre status</a>
    
    <br><br>
    <br>Beskrivelse:<br>--------------------<br><br>
    
    {{ticket.description}}
    
    <br><br>--------------------<br>
      
    Skrevet av {{ticket.creator.first_name}}, {{ticket.date_created|date:"d.m.Y H:i"}}
  
  </div>
  
  <div id="rightbar">
    <h6> <img src="/media/images/icons/report.png" alt=""> Kommentarer </h6> 
    <div id="textInRightBar">
      <form enctype="multipart/form-data" action="{% url app.bugreporting.views.addComment ticket.id %}" method="post">
      
      {{commentForm.as_p}}
      
      <input type="submit" value="Lagre">
      </form>
      {% for cm in comments %}
         {{cm}}<br><br>
      {% endfor %}
    </div>
  </div>
  
</div>  
   
{% endblock %}  