[buildout]
parts = django
develop = .


[django]
recipe = djangorecipe
version = 1.3-beta-1
settings = development
wsgi = true
project = project
eggs = south
       pil
       Markdown

extra-paths = project
			  site-packages
