{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}


    <div class="portlet x12">

        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">



            <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">

                <thead>
                <tr>
                    <th>Kundenr</th>
                    <th>Navn</th>
                    <th>Adresse</th>
                    <th>Telefon</th>
                    <th>Epostadresse</th>
                    <th>#</th>
                </tr>
                </thead>

                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.cid }}</td>
                        <td><a href="{% url app.customers.views.view customer.id %}">{{ customer.full_name }}</a></td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>

                        <div class="tool">
                                <a href="{% url app.customers.views.edit customer.id%}"><img
                                        class="tool" src="/media/icons/edit.gif" alt=""></a>
                            </div>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>



        </div>
    </div>




{% endblock %}