{% extends "base.html" %}

		{% block submenu %}
			<a href="add"><span>Oprett nytt produkt</span></a>
		{% endblock %}

		{% block maincontent %}
				<table class="tablesorter">
					<thead>
						<tr>
							<th>Produkt</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>

						{% for p in units %}
							<tr>
								<td><a href="{% url app.stock.productUnits.views.edit p.id %}">{{p}}</a></td>
								<td>
									<a href="{% url app.stock.productUnits.views.edit p.id %}" class="edit admintool"><img src="/media/images/icons/user_edit.png" alt=""></a>
									<a href="{% url app.stock.productUnits.views.delete p.id %}" class="edit admintool"><img src="/media/images/icons/user_delete.png" alt=""></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
{% endblock %}