{% extends "base.html" %}

{% block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}

    <div class="portlet x12">

             <div class="portlet-header"><h4>{{ title }}</h4></div>

             <div class="portlet-content">


    <h2>{{announcement.title}}</h2>
        <div id="datepublished">Skrevet av {{announcement.creator.first_name}}, {{announcement.date_created|date:"d.m.Y H:i"}}</div>


    {{announcement.text}}
     <br><br>
    {% if announcement.attachment %}
     <img src="/media/images/icons/downloadBox.png" style="width:30px; height:30px; vertical-align:middle;"> <a target="_blank" href="/media/{{announcement.attachment}}">Last ned vedlegg</a>
    {% endif %}
     <br><br>



    </div> </div>

{% endblock %}