<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Newsfeed Email Template</title>
<style type="text/css">
<!--
.colorborderlight {
	border-top:#fe4b4b 1px solid;
}
.colorborderdark{
	border-bottom:#5e0000 1px solid;
}
.colorbg {
	background-color:#c30f0f;
}

.content img:hover {
	border-color: #aeaeae;
}

a {
	color:#c30f0f;
	text-decoration:none;
	text-shadow: #ffffff 1px 2px 0px;
}
a:hover {
	color:#fe4b4b;
}

.date {
	color:#63150b;
}
p.tiny.subheading {
	color:#333333;
	font-weight:bold;
}

.lightgrey {
	background-color:#e3e3e3;
}
.greyborder {
	border-bottom:#bebdbd 1px solid;
}
.whiteborder {
	border-top:#ffffff 1px solid;
}
.whiteborderbottom {
	border-bottom:#ffffff 1px solid;
}
.darkbg {
	background-color:#121212;
}
.blackborder {
	border-bottom:#000000 1px solid;
}
.blackbordertop {
	border-top:#000000 1px solid;
}
.webversion {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	letter-spacing:2px;
	font-size:10px;
	text-transform:uppercase;
	color:#585858;
}
.weblink {
	color:#818181;
	text-decoration:none;
	text-shadow:none;
}
h1 {
	font-size: 34px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:36px;
	letter-spacing:0px;
	text-shadow: #ffffff 0px 2px 1px;
	margin:0;

}

h2 {
	font-size: 22px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:24px;
	letter-spacing:0px;
	color:#000000;
	text-shadow: #ffffff 0px 2px 1px;
	margin:0;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#333333;
	line-height:24px;
	margin:0;
	padding:0;
}
p.date {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	font-weight:normal;
	color:#000000;
	font-style:italic;
	line-height:10px;
}

p.large {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#000000;
	font-weight:bold;
	font-size:16px;
	font-style:normal;
	line-height:20px;
}
p.tiny, p.tiny a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	letter-spacing:1px;
	font-size:10px;
	text-transform:uppercase;
	color:#585858;
	text-shadow: #ffffff 0px 2px 1px;
	line-height:10px;
	margin:0;
	padding:0px;
}
p.twitter {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	text-shadow: #ffffff 1px 2px 0px;
}
p.footertext, p.footertext a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10px;
	color:#585858;
	text-shadow: #000000 0px -1px 1px;
	line-height:18px;
	margin:0;
	padding:0px;
	text-decoration:none;
}
.content img {
	border:10px solid #d4d4d4;
}
.sidebar img {
	border:none;
}
img.spacer {
	border:none;
}
img { display: block; }
.sidespacer {
height:12px;
}
-->
</style>
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" class="lightgrey">
<!--Subscription Settings -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="darkbg blackborder">
    <tr>
        <td width="273" align="center" height="45"><span class="webversion">Having touble seeing this email? <a href="#" class="weblink"> View it in your browser. </a> </span></td>
    </tr>
</table>
<!--Subscription Settings -->

<!--Logo Section -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="colorbg colorborderlight colorborderdark">
    <tr>
        <td><!--Spacer -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="15">
                <tr>
                    <td><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                </tr>
            </table>
            <!--Spacer -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td width="193" valign="middle"><img src="images/logo.jpg" width="182" height="41" alt="Blogmail" /></td>
                    <td width="253" valign="middle">&nbsp;</td>
                    <td width="19" align="left" valign="middle"><img src="images/issue_06.gif" width="9" height="29" alt="issue" /></td>
                    <td width="135" align="left" valign="middle"><p class="date large">October</p><p class="date"> 24th, 2010</p></td>
                </tr>
            </table>
            <!--Spacer -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="15">
                <tr>
                    <td><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                </tr>
            </table>
            <!--Spacer --></td>
    </tr>
</table>
<!--Logo Section -->
<!--Top Gradient -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="whiteborder lightgrey">
<tr><td>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td><img src="images/topgradient_06.jpg" width="600" height="33" /></td>
    </tr>
</table>
</td></tr></table>
<!--Top Gradient -->

<!--
---------------------------
Start Content
---------------------------
 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="lightgrey" >
<tr><td>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="content whiteborderbottom lightgrey" >
    <tr>
        <!--
        ------------------
        Start Main Content
        ------------------
         -->

        <td width="420" valign="top">

        	<!--
            -------------------------------
            Start Feature Photo Left Module
            -------------------------------
            -->
            <table width="420" border="0" cellspacing="0" cellpadding="0" align="left" class="content" >
                <tr>
                    <td width="220" valign="top"><p align="left"><a href="#"><img src="images/sampleimage.jpg" width="180" height="180" alt="Iphone" /></a></p></td>
                    <td width="200" valign="middle"><h1>Create an Old Style Photo in Photoshop</h1></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle"><p>Aliquam mauris eros, lacinia eget imperdiet at,
                            consectetur sed lectus. Ut porta posuere scelerisque. Aliquam erat volutpat. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>
                    <p>&nbsp;</p>
                    <p align="right">| <a href="#">Continue Reading</a> |</p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="30" class="greyborder"><img src="images/30px.gif" width="1" height="30" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>

            </table>
        	<!--
            -----------------------
            End Feature Photo Left
            -----------------------
            -->




        	<!--
            --------------------------------
            Start Feature Photo Right Module
            --------------------------------
            -->
            <table border="0" cellspacing="0" cellpadding="0" align="left" class="content" >
                <tr>
                    <td valign="middle"><h1>The Top 10 Places in the World for Vacation</h1></td>
                    <td valign="middle"><p align="right"><img src="images/sampleimage1.jpg" width="164" height="170" alt="Iphone" /></p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle"><p>Aliquam mauris eros, lacinia eget imperdiet at,
                            consectetur sed lectus. Ut porta posuere scelerisque. Aliquam erat volutpat. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                    </p>
                    <p>&nbsp;</p>
                    <p align="right">| <a href="#">Continue Reading</a> |</p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="30" class="greyborder"><img src="images/30px.gif" width="1" height="30" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>

            </table>
        	<!--
            ------------------------------
            End Feature Photo Right Module
            ------------------------------
            -->


        	<!--
            -------------------------------
            Start Feature Photo Left Module
            -------------------------------
            -->
            <table width="420" border="0" cellspacing="0" cellpadding="0" align="left" class="content" >
                <tr>
                    <td width="220" valign="top"><p align="left"><a href="#"><img src="images/sampleimage.jpg" width="180" height="180" alt="Iphone" /></a></p></td>
                    <td width="200" valign="middle"><h1>Create an Old Style Photo in Photoshop</h1></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle"><p>Aliquam mauris eros, lacinia eget imperdiet at,
                            consectetur sed lectus. Ut porta posuere scelerisque. Aliquam erat volutpat. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>
                    <p>&nbsp;</p>
                    <p align="right">| <a href="#">Continue Reading</a> |</p></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="30" class="greyborder"><img src="images/30px.gif" width="1" height="30" class="spacer" /></td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" height="20" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>

            </table>
        	<!--
            -----------------------
            End Feature Photo Left
            -----------------------
            -->



            <!--
            --------------------
            Start Twitter Module
            --------------------
            -->

            <table width="420" border="0" cellspacing="0" cellpadding="0" align="left" class="content" >
                <tr>
                    <td width="55" valign="middle"><img src="images/Twitter_Big_40.jpg" width="47" height="37" alt="Twitter" style="border:none;" /></td>
                    <td width="239" valign="middle"><p class="twitter">Must read for authors: Choosing the Right Font: A Practical Guide to Typography on the Web - <a href="#">http://enva.to/bg1qAV</a></p></td>
                </tr>

                <tr>
                    <td colspan="2" valign="middle" height="20" ><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
            </table>


            <!--
            ------------------
            End Twitter Module
            ------------------
            -->

<!--Spacer -->
<table width="420" border="0" cellspacing="0" cellpadding="0" align="left">
    <tr>
        <td  height="30"><img src="images/30px.gif" width="1" height="30" class="spacer" /></td>
    </tr>
</table>
<!--Spacer -->

        </td>

        <!--
        ------------------
        End Main Content
        ------------------
         -->


        <td width="25" rowspan="4" valign="top">&nbsp;</td>

         <!--
         -------------
         Start Sidebar
         -------------
         -->

        <td valign="top">
        <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">

                <!--Share -->
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2" class="sidespacer"><img src="images/12px.gif" width="1" height="12" class="spacer" /></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><p class="tiny subheading">SHARE</p></td>
                </tr>
                <!--Share -->

                <!--Horizontal Bar -->
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="3" class="greyborder" height="10"><img src="images/10px.gif" width="1" height="10" class="spacer" /></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="3" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <!--Horizontal Bar -->
                </table>


                <!--Forward -->
               <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="41"><a href="#"><img src="images/email_13.jpg" width="34" height="20" alt="Email" /></a></td>
                    <td width="93"><p class="tiny" style="text-transform:none;"><a href="#">Forward to<br />a friend</a></p></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Forward -->

                <!--Facebook -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="41"><a href="#"><img src="images/facebook_17.jpg" width="35" height="27" alt="Email" /></a></td>
                    <td width="93"><p class="tiny"><a href="#">SHARE ON FACEBOOK</a></p></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Facebook -->
                <!--Twitter -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="41"><a href="#"><img src="images/Twitter_19.jpg" width="35" height="25" alt="Email" /></a></td>
                    <td width="93"><p class="tiny"><a href="#">TWEET THIS</a></p></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Twitter -->
                <!--Sponsors -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><p class="tiny subheading">SPONSORS</p></td>
                </tr>


                <!--Horizontal Bar -->
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="3" class="greyborder" height="10px"><img src="images/10px.gif" width="1" height="10" class="spacer" /></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="3" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <!--Horizontal Bar -->
                </table>
                <!--Sponsors -->

                <!--Ad -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><a href="#"><img src="images/ad_23.jpg" width="123" height="125" alt="Themeforest" /></a></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Ad -->
                <!--Ad -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><a href="#"><img src="images/ad_27.jpg" width="124" height="123" alt="Themeforest" /></a></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Ad -->
                <!--Ad -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><a href="#"><img src="images/ad_29.jpg" width="124" height="123" alt="Themeforest" /></a></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Ad -->
                <!--Ad -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><a href="#"><img src="images/ad_31.jpg" width="124" height="123" alt="Themeforest" /></a></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Ad -->


                <!--Subscription -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="2"><p class="tiny subheading">SUBSCRIPTION</p></td>
                </tr>

                <!--Horizontal Bar -->
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td colspan="3" class="greyborder" height="10px"><img src="images/10px.gif" width="1" height="10" class="spacer" /></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="3" class="whiteborder"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                <!--Horizontal Bar -->
                </table>
                <!--Subscription-->

                <!--Unsubscribe -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="41"><a href="#"><img src="images/Unsubscribe_34.jpg" width="36" height="24" alt="Unsubscribe" /></a></td>
                    <td width="93"><p class="tiny"><unsubscribe>UNSUBSCRIBE</unsubscribe></p></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Unsubscribe -->

                <!--Subscription Settings -->
                <table width="150" border="0" cellspacing="0" cellpadding="0" align="left" class="sidebar">
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="41"><a href="#"><img src="images/Settings_37.jpg" width="36" height="32" alt="Unsubscribe" /></a></td>
                    <td width="93"><p class="tiny"><a href="#">SUBSCRIPTION SETTINGS</a></p></td>
                </tr>
                <tr>
                    <td width="1" style="background-color:#bebdbd"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="1" style="background-color:#ffffff"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td width="14"><span style="line-height:0px; font-size:0px;">&#8203;</span></td>
                    <td height="20" colspan="2"><img src="images/20px.gif" width="1" height="20" class="spacer" /></td>
                </tr>
                </table>
                <!--Subscription Settings -->


            </td>

         <!--
         -----------
         End Sidebar
         -----------
         -->
    </tr>


</table>
</td></tr></table>

<!--
-------------
Start Footer
-------------
 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="darkbg blackbordertop">
    <tr>
        <td align="center">

        	<!--Spacer -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40">
                <tr>
                    <td></td>
                </tr>
            </table>
            <!--End Spacer -->

            <!--Logo and Contact Info-->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="darkbg">
                <tr>
                    <td width="252" valign="middle"><img src="images/logodark_47.jpg" width="185" height="45" alt="NewsFeed" /></td>
                    <td width="20" valign="middle" align="left"></td>
                    <td align="left" valign="middle"><p class="footertext">info@newsfeed.com | www.newsfeed.com<br />
                            +1 234 567 8910 | 1234, Some City USA</p></td>
                </tr>
            </table>
            <!--End Logo and Contact Info-->

            <!--Spacer -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40">
                <tr>
                    <td></td>
                </tr>
            </table>
            <!--End Spacer --></td>
    </tr>
</table>
<!--
---------------------------
End Footer Contact Module
---------------------------
 -->
<!--Authoring Section -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#000000" height="45">
    <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td><p class="webversion" style="text-align:center">Email Marketing by <a href="#" class="weblink">Your Company </a> </p></td>
                </tr>
            </table></td>
    </tr>
</table>
<!--End Authoring Section -->
</body>
</html>