<div class="portlet x9">

    <div class="portlet-header"><h4>{% trans "Files" %}</h4></div>

    <div class="portlet-content">


        <style>
            #draggable {
                width: 100px;
                height: 100px;
                padding: 0.5em;
                float: left;
                margin: 10px 10px 10px 0;
            }

            #droppable {
                background-color: blue;

            }

            .dragging {
                background-color: red;
            }

            .button {
                background-color: #efefef;
                border: 1px solid #dfdfdf;
                width: 100px;
                float: left;
                margin-left: 20px;
                text-align: center;
                padding-top: 3px;

            }

            .button a {
                text-decoration: None;
            }

            .item {
                margin: 10px;
                padding: 5px;
                border: 1px solid #9bafd5;
                background-color: #e3e8ee;
            }

        </style>


        <script>
            $(function() {
                $(".draggable").draggable({ revert: "invalid"});

                $(".droppable").droppable({

                    accept: ".draggable",
                    activeClass: 'dragging',

                    drop: function(event, ui) {

                        kind = (ui.draggable).attr("kind");

                        if (kind == "file") {
                            var data = { fileID:     ui.draggable.attr("id"),
                                folderID:   this.id
                            };

                            $.get("{% url app.files.files.views.moveFile %}", data);

                            (ui.draggable).fadeOut();
                        }
                        else if (kind == "folder") {

                            var data = { folderID:     ui.draggable.attr("id"),
                                parentID:     this.id
                            };

                            $.get("{% url app.files.files.views.moveFolder %}", data);

                            (ui.draggable).fadeOut();

                        }

                    }
                });

            });
        </script>

        {% if folder %}

            {% if folder.parent %}
                <div class="item droppable" id="{{ folder.parent.id }}" kind="folder">
                    <img width="16px" height="16" src="/media/images/icons/arrow_up.png" alt="">
                    <a href="{% url app.files.files.views.folder folder.parent.id %}">Parent folder</a>
                </div>
            {% endif %}

            {% if folder.parent == None %}
                <div class="item droppable" id="root" kind="folder">
                    <img width="16px" height="16" src="/media/images/icons/arrow_up.png" alt="">
                    <a href="{% url app.files.files.views.overview %}">Parent folder</a>
                </div>
            {% endif %}
        {% endif %}


        {% for p in folders %}
            <div class="item draggable droppable" id="{{ p.id }}" kind="folder">
                <img width="16px" height="16" src="/media/images/icons/folder.png" alt="">
                <a href="{% url app.files.files.views.folder p.id %}">{{ p.name }}</a>
            </div>
        {% endfor %}

        {% for p in files %}

            <div class="item draggable" id="{{ p.id }}" kind="file">
                <img width="16px" height="16" src="/media/images/icons/fileIcon.png" alt="">
                <a href="{% url app.files.files.views.view p.id %}">{{ p.name }}</a>
            </div>

        {% endfor %}

        </tbody>
        </table>


        <script type="text/javascript" src="/media/js/jsTree/jquery.jstree.js"></script>

        <div id="files">
            <ul>
                <li id="phtml_345">
                    <a href="#">Root node 1</a>
                    <ul>
                        <li id="phtml_8">
                            <a href="#">Endre denne</a>
                        </li>

                        <li id="phtml_2" rel="folder">
                            <a href="#">Child node 1</a>
                        </li>
                        <li id="phtml_3">
                            <a href="#">hmm node 1</a>

                            <ul>
                                <li id="phtml_2">
                                    <a href="http://se.no/">Child node 1</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="phtml_4">
                    <a href="#">Root node 2</a>
                </li>
            </ul>
        </div>
        <script type="text/javascript" class="source">
            $(function () {
                $("#files").jstree({
                    "types" : {
                        "types" : {
                            "folder" : {
                                "icon" : {
                                    "image" : "http://static.jstree.com/v.1.0rc/_docs/_drive.png"
                                },
                                "valid_children" : [ "default" ],
                                "max_depth" : 2,
                                "hover_node" : false,
                            },
                            "file" : {
                                "icon" : {
                                    "image" : "http://static.jstree.com/v.1.0rc/_docs/_drive.png"
                                },
                                "valid_children" : [ "default" ],
                            }
                        }
                    },
                    "themes" : {
                        "theme" : "classic",
                        "dots" : false,
                        "icons" : true
                    },

                    "plugins" : ["themes","html_data","dnd","ui","types","contextmenu"]
                });
            });

        </script>


    </div>
</div>

<div class="portlet x3">

    <div class="portlet-header"><h4>Filvalg</h4></div>

    <div class="portlet-content">

        <div class="tool editChoice">
            <a href="{% url app.files.files.views.add folder.id %}">Ny fil</a>
        </div>

        <div class="tool editChoice">
            <a href="{% url app.files.folders.views.add folder.id %}">Ny mappe</a>
        </div>
    </div>
</div>
