{% extends "base.html" %}
{% load i18n %}

{% block submenu %}
    <a href="add"><span>{% trans "New project" %}</span></a>
{% endblock %}

{% block maincontent %}

    <div class="portlet x12">

        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">


            <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">

                <thead>
                  <tr>
                    <th>{% trans "Project number" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Delivery date" %}</th>
                    <th>{% trans "Responsible" %}</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for p in projects %}
                    <tr>
                        <td>{{ p.pid }}</td>
                        <td><a href="{% url app.projects.views.view p.id %}">{{ p }}</a></td>
                        <td>{{ p.deliveryDate|date:"d.m.Y" }}</td>
                        <td>{{ p.responsible }}</td>
                        <td>
                            <div class="tool">
                                <a href="{% url app.projects.views.edit p.id %}"><img
                                        class="tool" src="/media/icons/edit.gif" alt=""></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
