{% extends "base.html" %}
{% load i18n %}


{% block sidebar %}
    {% include "projects/sidebar.html" %}
{% endblock %}


{% block maincontent %}

    <div style="float:right; margin-right: 200px;">
        <a href="{% url app.projects.views.milestone.add project.id %}"><img border="0px" style="vertical-align: middle"
                                                                             src="{{ STATIC_URL }}/img/add.png">Ny
            milestone</a>
    </div>

    <br><br>

    <table>
        <tr>
            <th>{% trans "Milestones" %}</th>
        </tr>
        {% for milestone in project.milestones.all %}
            <tr>
                <td>{{ milestone.name }}</td>
                <td><a href="{% url app.projects.views.milestone.edit project.id, milestone.id %}">edit</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}