{% extends "base.html" %}
{% load i18n %}


{% block sidebar %}
    {% include "projects/sidebar.html" %}
{% endblock %}


{% block maincontent %}
    <table>
        <tr>
            <th>{% trans "Milestones" %}</th>
        </tr>
        <a href="{% url app.projects.views.milestone.add project.id %}">{% trans "New milestone" %}</a>
        {% for milestone in project.milestones.all %}
            <tr>
                <td>{{ milestone.name }}</td>
                <td><a href="{% url app.projects.views.milestone.edit project.id, milestone.id %}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}