{% load menu_tags %}
{% load i18n %}
{% load auth %}

<ul>
    <li><a class="{% active request "projects/$" %}" href="{% url app.projects.views.project.overview %}">
        {% trans "OVERVIEW" %}</a></li>

    <li><a class="{% active request "timeline" %}" href="{% url app.projects.views.project.timeline %}">
        {% trans "TIMELINE" %}</a></li>

    <li><a class="{% active request "new" %}" href="{% url app.projects.views.project.add %}">
        {% trans "NEW PROJECT" %}</a></li>

    <li><a class="{% active request "trashed" %}" href="{% url app.projects.views.project.overview_trashed %}">
        {% trans "TRASHED" %}</a></li>
</ul>