{% load menu_tags %}
{% load i18n %}
{% load auth %}

<ul>
    <li><a class="{% active request "projects/$" %}" href="{% url app.projects.views.project.overview %}">
        {% trans "Overview" %}</a></li>

    <li><a class="{% active request "timeline" %}" href="{% url app.projects.views.project.timeline %}">
        {% trans "Timeline" %}</a></li>

    <li><a class="{% active request "new" %}" href="{% url app.projects.views.project.add %}">
        {% trans "New project" %}</a></li>

    <li><a class="{% active request "trashed" %}" href="{% url app.projects.views.project.overview_trashed %}">
        {% trans "Trashed" %}</a></li>
</ul>