{% load menu_tags %}
{% load i18n %}
{% load auth %}
<h3>Sidebar</h3>
<ul>
    {% if project.id %}
    <li><a class="{% active request "projects/$" %}" href="{% url app.projects.views.project.overview %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a></li>

    <li><a class="{% active request "view" %}" href="{% url app.projects.views.project.view project.id %}"><img
            src="{{ STATIC_URL }}img/view.png" width="24" height="24" alt="Home"/>{% trans "VIEW" %}</a></li>

    <li><a class="{% active request "milestone" %}" href="{% url app.projects.views.project.milestones project.id %}"><img
            src="{{ STATIC_URL }}img/plan.png" width="24" height="24" alt="Mail"/>{% trans "MILESTONES" %}</a></li>

    <li><a class="{% active request "files" %}" href="{% url app.projects.views.project.milestones project.id %}"><img
            src="{{ STATIC_URL }}img/files.png" width="24" height="24" alt="Mail"/>{% trans "FILES" %}</a></li>

    <li><a class="{% active request "orders" %}" href="{% url app.projects.views.project.view_orders project.id %}"><img
            src="{{ STATIC_URL }}img/order.png" width="24" height="24" alt="Mail"/>{% trans "ORDERS" %}</a></li>

    {% require_permission EDIT project %}
    <li><a class="{% active request "edit$" %}" href="{% url app.projects.views.project.edit project.id %}"><img
            src="{{ STATIC_URL }}img/edit.png" width="24" height="24" alt="Mail"/>{% trans "EDIT" %}</a></li>
    {% end_require %}

    {% require_permission DELETE project %}
      <li><a class="{% active request "trash" %}" href="{% url app.projects.views.project.trash project.id %}"><img
              src="{{ STATIC_URL }}img/delete.png" width="24" height="24" alt="Mail"/>{% trans "DELETE" %}</a></li>
      {% end_require %}


    <li><a class="{% active request "history" %}"
           href="{% url app.projects.views.project.history project.id %}"><img
            src="{{ STATIC_URL }}img/history.png" width="24" height="24" alt="Mail"/>{% trans "HISTORY" %}</a></li>
    {% else %}
    <li><a class="{% active request "projects/$" %}" href="{% url app.projects.views.project.overview %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a></li>

    <li><a class="{% active request "timeline" %}" href="{% url app.projects.views.project.timeline %}"><img
            src="{{ STATIC_URL }}img/timeline.png" width="24" height="24" alt="Home"/>{% trans "TIMELINE" %}</a></li>

    <li><a class="{% active request "new" %}" href="{% url app.projects.views.project.add %}"><img
            src="{{ STATIC_URL }}img/add.png" width="24" height="24" alt="Home"/>{% trans "NEW PROJECT" %}</a></li>

    <li><a class="{% active request "trashed" %}" href="{% url app.projects.views.project.overview_trashed %}"><img
            src="{{ STATIC_URL }}img/trash.png" width="24" height="24" alt="Home"/>{% trans "TRASHED" %}</a></li>
    {% endif %}
</ul>