{% extends "base.html" %}
{% load auth %}
{% load i18n %}
{% load thumbnail %}
{% block extrahead %}

{% endblock %}

{% block sidebar %}
    {% include "projects/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <b>{% trans "Description" %}</b><br>
    {{ project.description }}


    {% for user in who_can_see_this %}

        <div class="user-card">

            <div class="avatar">
                <img src="{{ user.profileImage|thumbnail_with_max_side:"150" }}" title="User" alt=""/>
            </div>

            <div class="details">
                <p><strong>{{ user.first_name }} {{ user.last_name }}</strong><br/>
                    {{ user.phone }}<br/>

                    <a href="{% url app.admin.views.user.view user.id %}">Flere detaljer</a></p>
            </div>
            <!-- .user-card-content -->

        </div> <!-- .user-card -->
    {% endfor %}

    {% include "comments.html" %}

{% endblock %}