{% extends "projects/base.html" %}
{% load auth %}
{% load i18n %}
{% load thumbnail %}
{% block extrahead %}

{% endblock %}

{% block sidebar %}
    {% include "projects/sidebar.html" %}
{% endblock %}

{% block content %}

    <h1>{{ project }}</h1>


    <h2>{% trans "Description" %}</h2>
    {{ project.description }}

    <br><br>

    <h2>{% trans "Participants" %}</h2>

        <div class="clearfix"></div>
        <article>
            <div class="article-container">


                <ul class="contacts">
                    {% for user in who_can_see_this %}


                        <li>
                            <img src="{{ user.profileImage|thumbnail_with_max_side:"40" }}" title="User" alt=""/>
                            <a href="{% url app.admin.views.user.view user.id %}"
                               class="contacts-user">{{ user.first_name }} {{ user.last_name }}</a>
                            <em>{{ user.email }}</em>

                        </li>
                    {% endfor %}
                </ul>

            </div>
        </article>

    <br><br><br><br><br><br><br><br>

    {% include "comments.html" %}

{% endblock %}