{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}


    <div class="portlet x12">

        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">



            <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Adresse</th>
                    <th>Telefon</th>
                    <th>Epostadresse</th>
                    <th>#</th>
                </tr>
                </thead>

                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td><a href="{{ contact.getViewUrl }}">{{ contact.full_name }}</a></td>
                        <td>{{ contact.address }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.email }}</td>

                        <td>
                            <div class="tool">
                                <a href="{% url app.contacts.views.edit contact.id  %}"><img
                                        class="tool" src="/media/icons/edit.gif" alt=""></a>
                            </div>


                        </td>
                      
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>


{% endblock %}