{% extends "base.html" %}
{% load auth %}

{% block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}

<div class="portlet x9">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">

        <table>

            <tr>
                <th>Kontakt</th>
                <th>Detaljer</th>
            </tr>

            <tr>
                <td>Navn</td>
                <td>{{ contact.full_name }}</td>
            </tr>

            <tr>
                <td>Epostadresse</td>
                <td>{{ contact.email }}</td>
            </tr>

            <tr>
                <td>Adresse</td>
                <td> {{ contact.address }}</td>
            </tr>


        </table>

    </div>
</div>
<div class="portlet x3">

    <div class="portlet-header"><h4>Valg</h4></div>

    <div class="portlet-content">

        {% require_permission EDIT contact %}
        <div class="tool editChoice">
            <a href="{% url app.contacts.views.edit contact.id %}">Endre kontakt</a>
        </div>
        {% end_require %}

        {% require_permission DELETE contact %}
        <div class="tool deleteChoice">
            <a href="{% url app.contacts.views.delete contact.id %}">Slett kontakt</a>
        </div>
        {% end_require %}

    </div>
</div>
{% endblock %}