{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extrahead %}

{% endblock %}

{% block sidebar %}
    {% include "admin/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h1>{{ title }}</h1>


    {% if form.errors %}

        <div class="information" id="message">

            <p>Fix before submit again</p>

        </div>

        {% for i in form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <div style="width:805px;">
        <form enctype="multipart/form-data" class="form label-inline" method="post">
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label }}
                    <span {% if field.errors %}style="color:red;" {% endif %}> {% for error in field.errors %} {{ error }} {% endfor %}</span>
                    <br>{{ field }}
                </div>
            {% endfor %}
            <div>
                <input type="submit" value="Lagre" id="form_button" class="btn" name="save"/>

                <div id="loading">Loading...</div>
            </div>
        </form>
    </div>

    <script>
        $(function() {
            $("#loading").hide();
            $("#form_button").click(function() {
                $("#form_button").hide();
                $("#loading").show();
            })
        })
    </script>

    {% regroup permissions by get_content_type_display as Permissions %}
    <table style="text-align:center">
        <tr>
            <th></th>
            <th>{% trans "Object" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Role" %}</th>
            <th>{% trans "Permissions" %}</th>
            <th></th>
        </tr>
        {% for type in Permissions %}
            {% for perm in type.list %}
                <tr>
                    <td></td>
                    <td style="text-align:left;">{{ perm.id }} | <a
                            href='{{perm.get_object.get_view_url}}'>{{ perm.get_object }}</a>
                    </td>
                    <td>
                        {{ perm.content_type }}
                    </td>
                    <td>
                        {{ perm.role }}
                    </td>
                    <td>
                        {% for action in perm.get_valid_actions %}
                            {{ action }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if userCard %}
                            {% if perm.group %}
                                {% trans "Through group" %}
                                <a href="{% url app.admin.views.group.view perm.group.id %}">{{ perm.group }}</a>
                            {% else %}
                                <a href="{% url app.admin.views.user.delete_permission perm.user.id perm.id %}">{% trans "Delete" %}</a>
                            {% endif %}
                        {% endif %}
                        {% if group %}
                            <a href="{% url app.admin.views.group.delete_permission perm.group.id perm.id %}">{% trans "Delete" %}</a>
                        {% endif %}


                    </td>
                </tr>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}	