{% load menu_tags %}
{% load auth %}
{% load i18n %}
<ul>

    {% if userCard.id %}

    <li><a class="{% active request "list" %}" href="{% url app.admin.views.user.overview %}">{% trans "USERS" %}</a>
    </li>

    <li><a class="{% active request "view" %}"
           href="{% url app.admin.views.user.view userCard.id %}">{% trans "VIEW" %}</a></li>

    <li><a class="{% active request "edit" %}"
           href="{% url app.admin.views.user.edit userCard.id %}">{% trans "EDIT" %}</a></li>

    <li><a class="{% active request "new_password" %}"
           href="{% url app.admin.views.user.send_generated_password_to_user userCard.id %}">{% trans "SEND NEW PASSWORD" %}
    </a></li>

    <li><a class="{% active request "manualSetTime" %}"
           href="{% url app.admin.views.user.set_hourregistration_limits userCard.id %}">{% trans "SET HOUR DAYS LIMITS" %}
    </a>
    <li><a class="{% active request "history" %}"
           href="{% url app.admin.views.user.history userCard.id %}">{% trans "HISTORY" %}
    </a>
    </li>

    <li><a class="{% active request "permissions" %}"
           href="{% url app.admin.views.user.permissions userCard.id %}">{% trans "PERMISSIONS" %}
    </a>
    </li>

    <li><a class="{% active request "trash" %}"
           href="{% url app.admin.views.user.trash userCard.id %}">{% trans "DELETE" %}</a></li>

    {% else %}{% if group.id %}

    <li><a class="{% active request "list" %}" href="{% url app.admin.views.group.overview %}">{% trans "GROUPS" %}</a>
    </li>


    <li><a class="{% active request "view" %}" href="{% url app.admin.views.group.view group.id %}">
        {% trans "VIEW" %}</a></li>

    <li><a class="{% active request "members" %}" href="{% url app.admin.views.group.members group.id %}">
        {% trans "MEMBERS" %}</a></li>

    <li><a class="{% active request "edit" %}" href="{% url app.admin.views.group.edit group.id %}">
        {% trans "EDIT" %}</a></li>

    <li><a class="{% active request "permissions" %}" href="{% url app.admin.views.group.permissions group.id %}">
        {% trans "PERMISSIONS" %}</a></li>

    <li><a class="{% active request "trash" %}" href="{% url app.admin.views.group.delete group.id %}">
        {% trans "DELETE" %}</a>
    </li>

    {% else %}
    <li><a class="{% active request "users" %}" href="{% url app.admin.views.user.overview %}">
        {% trans "USERS" %}</a>
    </li>

    <li><a class="{% active request "user/add" %}" href="{% url app.admin.views.user.add %}">
        {% trans "NEW USER" %}</a>
    </li>


    <li><a class="{% active request "groups$" %}" href="{% url app.admin.views.group.overview %}">
        {% trans "GROUPS" %}</a>
    </li>

    <li><a class="{% active request "groups/add" %}" href="{% url app.admin.views.group.add %}">
        {% trans "NEW GROUP" %}</a>
    </li>

    <li><a class="{% active request "logs/" %}" href="{% url app.admin.views.log.overview  %}">
        {% trans "LOG" %}
    </a></li>


    {% require_permission MANAGE company.Company %}
    <li><a class="{% active request "company/$" %}" href="{% url app.company.views.overview %}">
        {% trans "COMPANIES" %}
    </a>
    </li>

    <li><a class="{% active request "company/new/" %}" href="{% url app.company.views.add %}">
        {% trans "NEW COMPANY" %}
    </a>
    </li>
    {% end_require %}

    {% require_permission EDIT user.get_company %}
    <li><a class="{% active request "company/edit/" %}" href="{% url app.company.views.edit user.get_company.id %}">
        {% trans "COMPANY SETTINGS" %}
    </a>
    </li>
    {% end_require %}


    {% endif %}
    {% endif %}


</ul>