{% extends "customers/base.html" %}
{% load auth %}
{% load i18n %}
{% block sidebar %}
    {% include "customers/sidebar.html" %}
{% endblock %}


{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    <script>
        $(function() {
            input_field = $('#' + "id_zip");
            output_field = input_field.parent().find("p");

            get_postal_from_zip(input_field, output_field);
            input_field.keyup(function() {
                get_postal_from_zip(input_field, output_field);
            });

            input_field_invoice = $('#' + "id_invoice_zip");
            output_field_invoice = input_field_invoice.parent().find("p");

            get_postal_from_zip(input_field_invoice, output_field_invoice);
            input_field_invoice.keyup(function() {
                get_postal_from_zip(input_field_invoice, output_field_invoice);
            });

        });
    </script>

    {% include "form_fields.html" %}

{% endblock %}