{% load menu_tags %}
{% load i18n %}
{% load auth %}

<li><a class="{% active request "view" %}" href="{% url app.customers.views.view customer.id %}">{% trans "VIEW" %}</a>
</li>


{% require_permission EDIT customer %}
<li><a class="{% active request "edit" %}" href="{% url app.customers.views.edit customer.id %}">{% trans "EDIT" %}</a>
</li>
{% end_require %}

{% require_permission EDIT customer %}
<li><a class="{% active request "contacts" %}"
       href="{% url app.customers.views.list_contacts customer.id %}">{% trans "CONTACTS" %}</a>
</li>

{% end_require %}



{% require_permission EDIT customer %}

<li><a class="{% active request "history" %}"
       href="{% url app.customers.views.history customer.id %}">{% trans "HISTORY" %}</a></li>

{% end_require %}


{% require_permission EDIT customer %}

{% if customer.trashed %}
    <li><a class="{% active request "trash" %}"
           href="{% url app.customers.views.restore customer.id %}">{% trans "RESTORE" %}</a></li>

{% else %}
    <li><a class="{% active request "trash" %}"
           href="{% url app.customers.views.trash customer.id %}">{% trans "DELETE" %}</a></li>
{% endif %}

{% end_require %}
