{% extends "base.html" %}
{% load auth %}
{% load util %}
{% load i18n %}


{% block sidebar %}
    {% include "customers/sidebar.html" %}
{% endblock %}

{% block maincontent %}



    <script type="text/javascript">
        $(document).ready(function() {
            outputElement = $("#postal")
            $.getJSON('http://fraktguide.bring.no/fraktguide/postalCode.json?pnr=' + {{ customer.zip }} + '&callback=?',
                    function(data) {
                        outputElement.text(data.result);
                    });
            outputElement_invoice = $("#postal_invoice")
            $.getJSON('http://fraktguide.bring.no/fraktguide/postalCode.json?pnr=' + {{ customer.invoice_zip }} + '&callback=?',
                    function(data) {
                        outputElement_invoice.text(data.result);
                    });

        });
    </script>

    <div class="portlet x7">
        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">

            <table>

                <tr>
                    <td width="100px">{% trans "Name" %}</td>
                    <td>{{ customer.name }}</td>
                </tr>

                <tr>
                    <td>{% trans "E-mail" %}</td>
                    <td>{{ customer.email }}</td>
                </tr>

                <tr>
                    <td>{% trans "Website" %}</td>
                    <td>
                        {{ customer.website|urlize|url_target_blank|safe }}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Address" %}</td>
                    <td>
                        {% if customer.address %}
                            {{ customer.address }}, {{ customer.zip }}
                            <span id="postal"></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Invoice address" %}</td>
                    <td>
                        {% if customer.invoice_address %}
                            {{ customer.invoice_address }}, {{ customer.invoice_zip }}
                            <span id="postal_invoice"></span>
                        {% endif %}
                    </td>                </tr>
            </table>


        </div>
    </div>


    <div class="portlet x5">
        <div class="portlet-header"><h4>{% trans "Projects and orders" %}</h4></div>

        <div class="portlet-content">

            <table>

                <tr>
                    <th>Prosjekt</th>
                    <th>Ordrer</th>
                </tr>

                {% for project in customer.projects.all %}
                    <tr>
                        <td>
                            <a href="{% url app.projects.views.project.view project.id %}">{{ project.project_name }}</a>
                        </td>
                        <td></td>
                    </tr>

                    {% for order in project.orders.all %}
                        <tr>
                            <td></td>
                            <td><a href="{% url app.orders.views.view order.id %}">{{ order.order_name }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>

        </div>
    </div>



{% endblock %}	