{% extends "customers/base.html" %}
{% load auth %}
{% load util %}
{% load i18n %}


{% block sidebar %}
    {% include "customers/sidebar.html" %}
{% endblock %}

{% block content %}



    <table>
        <tr>
            <td width="100px">{% trans "Name" %}</td>
            <td>{{ customer.name }}</td>
        </tr>

        <tr>
            <td>{% trans "E-mail" %}</td>
            <td>{{ customer.email }}</td>
        </tr>

        <tr>
            <td>{% trans "Website" %}</td>
            <td>
                {{ customer.website|urlize|url_target_blank|safe }}
            </td>
        </tr>
        <tr>
            <td>{% trans "Address" %}</td>
            <td>
                {% if customer.address %}
                    {{ customer.address|linebreaksbr }} {{ customer.zip }} {{ customer.zip|postal_by_zip }}
                    <span id="postal"></span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Invoice address" %}</td>
            <td>
                {% if customer.invoice_address %}
                    {{ customer.invoice_address|linebreaksbr }} {{ customer.invoice_zip }} {{ customer.invoice_zip|postal_by_zip }}
                    <span id="postal_invoice"></span>
                {% endif %}
            </td>
        </tr>
    </table>

    <div id="comments" style="margin-top:100px;">
        {% include "comments.html" %}
    </div>

{% endblock %}