{% load menu_tags %}
{% load i18n %}
{% load auth %}

<ul>

    {% require_permission LIST stock.Product %}

    <li><a class="{% active request "product/$" %}" href="{% url app.stock.views.product.overview %}">{% trans "Products" %}</a></li>

    {% end_require %}
    {% require_permission CREATE stock.Product %}

    <li><a class="{% active request "add" %}" href="{% url app.stock.views.product.add %}">{% trans "New product" %}</a></li>

    {% end_require %}
    {% require_permission LISTDELETED stock.Product %}

    <li><a class="{% active request "trashed" %}" href="{% url app.stock.views.product.overview_trashed %}">{% trans "Trashed" %}</a></li>

    {% end_require %}
</ul>