{% load menu_tags %}
{% load i18n %}
{% load auth %}
<h3>Sidebar</h3>

<ul>

    {% if product.id %}
    <li><a class="{% active request "product/$" %}" href="{% url app.stock.views.product.overview %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "PRODUCTS" %}</a></li>
    <li><a class="{% active request "view" %}" href="{{ product.getViewUrl }}"><img
            src="{{ STATIC_URL }}img/view.png" width="24" height="24" alt="Home"/>{% trans "VIEW" %}</a></li>
    <li><a class="{% active request "edit" %}" href="{{ product.getEditUrl }}"><img
            src="{{ STATIC_URL }}img/edit.png" width="24" height="24" alt="Mail"/>{% trans "EDIT" %}</a></li>
    <li><a class="{% active request "files" %}" href="{% url app.stock.views.product.files product.id %}"><img
            src="{{ STATIC_URL }}img/files.png" width="24" height="24" alt="Mail"/>{% trans "FILES" %}</a></li>
    <li><a class="{% active request "orders" %}" href="{% url app.stock.views.product.orders product.id %}"><img
            src="{{ STATIC_URL }}img/order.png" width="24" height="24" alt="Mail"/>{% trans "ORDERS" %}</a></li>

    <li><a class="{% active request "trash" %}" href="{% url app.stock.views.product.trash product.id %}"><img
            src="{{ STATIC_URL }}img/delete.png" width="24" height="24" alt="Mail"/>{% trans "DELETE" %}</a></li>

    {% else %}
    {% require_permission LIST stock.Product %}
    <li><a class="{% active request "product/$" %}" href="{% url app.stock.views.product.overview %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "PRODUCTS" %}</a></li>
    {% end_require %}

    {% require_permission CREATE stock.Product %}
    <li><a class="{% active request "add" %}" href="{% url app.stock.views.product.add %}"><img
            src="{{ STATIC_URL }}img/add.png" width="24" height="24" alt="Home"/>{% trans "NEW PRODUCT" %}</a></li>
    {% end_require %}

    {% require_permission LISTDELETED stock.Product %}
    <li><a class="{% active request "trashed" %}" href="{% url app.stock.views.product.overview_trashed %}"><img
            src="{{ STATIC_URL }}img/trash.png" width="24" height="24" alt="Home"/>{% trans "Trashed" %}</a></li>
    {% end_require %}
    {% endif %}
</ul>