{% extends "base.html" %}
{% load auth %}
{% load i18n %}


{% block sidebar %}
    {% include "contacts/sidebar.html" %}
{% endblock %}

{% block maincontent %}

<div class="portlet x12">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">

        <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Address" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "E-mail" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for contact in contacts %}
            <tr>
                <td><a href="{{ contact.getViewUrl }}">{{ contact.full_name }}</a></td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>


            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>


{% endblock %}