{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block submenu %}
{% endblock %}


{% block sidebar %}
    {% include "contacts/sidebar.html" %}
{% endblock %}

{% block maincontent %}

<div class="portlet x9">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">

        <table>

            <tr>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "Details" %}</th>
            </tr>

            <tr>
                <td>{% trans "Name" %}</td>
                <td>{{ contact.full_name }}</td>
            </tr>

            <tr>
                <td>{% trans "E-mail" %}</td>
                <td>{{ contact.email }}</td>
            </tr>

            <tr>
                <td>{% trans "Address" %}</td>
                <td> {{ contact.address }}</td>
            </tr>


        </table>

    </div>
</div>
{% endblock %}