{% extends "contacts/base.html" %}
{% load auth %}
{% load thumbnail %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block submenu %}
{% endblock %}


{% block sidebar %}
    {% include "contacts/sidebar.html" %}
{% endblock %}

{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>


    <style>

        .topPart {
            width: auto;
            height: 200px;

        }

        .topPart .left {
            width: 350px;
            float: left;
        }

        .topPart .right {
            width: 400px;
            float: left;
        }

    </style>

    <div class="topPart">
        <div class="left">
            {% if contact.image %}
                <img src="{{ contact.image|thumbnail_with_max_side:"220" }}">
            {% endif %}
        </div>

        <div class="right">
            <table>
                <thead>
                <tr>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Details" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% trans "Name" %}</td>
                    <td>{{ contact.name }}</td>
                </tr>

                <tr>
                    <td>{% trans "E-mail" %}</td>
                    <td>{{ contact.email }}</td>
                </tr>

                <tr>
                    <td>{% trans "Phone" %}</td>
                    <td>{{ contact.phone }} {{ contact.phone_office }} {{ contact.mobile }} </td>
                </tr>

                <input type="hidden" id="id_zip" value="{{ contact.zip }}">
                <script>
                    $(function() {
                        var input_field = $('#' + "id_zip");
                        get_postal_from_zip(input_field, $("#postal"));
                    });

                </script>

                <tr>
                    <td>{% trans "Address" %}</td>
                    <td> {{ contact.address }} {{ contact.zip }} <span id="postal"></span></td>
                </tr>

                <tr>
                    <td>{% trans "Description" %}</td>
                    <td> {{ contact.description }}</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>


    <br><br><br><br><br><br>
    {% include "comments.html" %}


{% endblock %}