{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block maincontent %}

    <article class="full-block clearfix">

        <div class="article-container">

            <header>
                <h2>{% trans "Invoices" %}</h2>
            </header>

            <section>
                {% if invoice.id %}

                    <div class="sidetabs">
                    <nav class="sidetab-switch">
                        <ul>
                        {% include "invoices/submenu.html" %}
                        </ul>
                    </nav>
                    
                    <div class="sidetab default-sidetab">
                {% endif %}


                {% block content %}{% endblock %}

                {% if invoice.id %}
                    </div> </div>
                {% endif %}

            </section>

        </div>
    </article>

{% endblock %}