{% extends "invoices/base.html" %}
{% load menu_tags %}
{% load i18n %}

{% block content %}
    <table class="datatable">
        <thead>
        <tr>
            <th></th>
            <th>{% trans "Invoice number" %}</th>
            <th>{% trans "Invoice" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td><a href="{% url app.invoices.views.view invoice.id %}">{{ invoice.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}