{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}

{% endblock %}

{% block sidebar %}
    {% include "dashboard/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    {% for announcement in announcements %}
        <h2>{{ announcement.title }}</h2>


        {{ announcement.text|linebreaks }}

        <p>
            Skrevet av {{ announcement.creator.first_name }}, {{ announcement.date_created|date:"d.m.Y H:i" }}
        </p>

        {% if announcement.attachment %}
            <img src="{{ STATIC_URL }}img/download.png"
                 style="width:30px; height:30px; vertical-align:middle;"> <a target="_blank"
                                                                             href="{{announcement.get_attachment}}">Last
            ned vedlegg</a>
        {% endif %}

    {% endfor %}



{% endblock %}  