{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}


    <div class="portlet x12">

        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">



            <table cellpadding="0" cellspacing="0" border="0" class="display" rel="datatable" id="example">


        <thead>
        <tr>
            <th width="100px">Dato</th>
            <th width="100px">Mottaker</th>
            <th width="100px">Kategori</th>
            <th>Objekt</th>
            <th>Melding</th>
        </tr>
        </thead>

        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.date|date:"d.m.y H:i" }}</td>
                <td>{{ notification.recipient }}</td>
                <td>{{ notification.content_type }}</td>
                <td>{{ notification.getObject }}</td>
                <td>{{ notification.text }}</td>
            </tr>
        {% endfor %}

        {% for notification in oldNotifications %}
            <tr style="color:grey;">
                <td>{{ notification.date|date:"d.m.y H:i" }}</td>
                <td>{{ notification.recipient }}</td>
                <td>{{ notification.content_type }}</td>
                <td><a href="{{ notification.getObject.getViewUrl }}">{{ notification.getObject }}</a></td>
                <td>{{ notification.text }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        </div>
    </div>

{% endblock %}