{% extends "base.html" %}
{% block submenu %}
    <a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}


    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter').quicksearch("#dataTable tbody tr");
        });

    </script>

    <h1>{{ title }}</h1>
    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>
    <table id="dataTable">

        <thead>
        <tr>
            <th width="100px">Dato</th>
            <th>Objekt</th>
            <th>Melding</th>
        </tr>
        </thead>

        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.log.date|date:"d.m.y H:i" }}</td>
                <td><a href="{{ notification.getObject.getViewUrl }}">{{ notification.getObject }}</a></td>
                <td>{{ notification }}</td>
            </tr>
        {% endfor %}

        {% for notification in oldNotifications %}
            <tr style="color:grey;">
                <td>{{ notification.log.date|date:"d.m.y H:i" }}</td>
                <td><a href="{{ notification.getObject.getViewUrl }}">{{ notification.getObject }}</a></td>
                <td>{{ notification }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}