{% extends "form.html" %}
{% block sidebar %}
    {% include "suppliers/sidebar.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/utils.js"></script>
    <script>
        $(function() {
            $('#id_zip').parent().find("span").append("<span style='padding-left:90px;' id='postal'></span>");

            input_field_invoice = $('#' + "id_zip");
            output_field_invoice = $("#" + "postal");

            get_postal_from_zip(input_field_invoice, output_field_invoice);
            input_field_invoice.keyup(function() {
                get_postal_from_zip(input_field_invoice, output_field_invoice);
            });

        });
    </script>
{% endblock %}