{% extends "base.html" %}
{% load auth %}
{% load util %}
{% load i18n %}


{% block sidebar %}
    {% include "suppliers/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h2>{{ title }}</h2>
    <table>

        <tr>
            <td width="100px">{% trans "Name" %}</td>
            <td>{{ supplier.name }}</td>
        </tr>
        <tr>
            <td>{% trans "E-mail" %}</td>
            <td>{{ supplier.email }}</td>
        </tr>
        <tr>
            <td>{% trans "Phone" %}</td>
            <td>{{ supplier.phone }}</td>
        </tr>

        <tr>
            <td>{% trans "Address" %}</td>
            <td>{{ supplier.address|linebreaksbr }} {{ supplier.zip }} {{ supplier.zip|postal_by_zip }}</td>
        </tr>
    </table>
    
{% endblock %}	