{% extends "stock/base.html" %}
{% load i18n %}


{% block content %}

    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter').quicksearch("#dataTable tbody tr");
        });
    </script>

    <h1>{{ title }} </h1>


    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>


    <table id="dataTable">
        <thead>
        <tr>
            <th>{% trans "Product groups" %}</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>


        {% for p in productgroups %}
            <tr>
                <td><a href="{{ p.get_view_url }}">{{ p }}</a></td>
                <td>
                </td>
            </tr>

        {% endfor %}


        </tbody>

    </table>
{% endblock %}
