{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}

{% block maincontent %}

<div id="inner">

  {% if order.project %}
    Ordrer ligger under prosjektet: <a href="{% url app.projects.views.view order.project.id %}">{{order.project}}</a>
  {% endif %}

  Kunde: {{ order.customer }}     <br>
  State: {{ order.get_state_display }}



  <br><br><br>
  <b>Beskrivelse</b><br>	
	 {{order.description}}
  <br><br><br>

    {% if order.state != "A" %}

    <a href="{% url app.orders.views.changeStatus order.id %}">

        {% if order.state == "T" %}
            Godkjenn tilbudet
        {% endif %}

        {% if order.state == "O" and order.haveCompletedAllTasks %}
            Gjør ordren klar for fakturering
        {% endif %}

        {% if order.state == "F" %}
            Arkiver ordren
        {% endif %}

    </a>

    {% endif %}


    <br><br><br>

  <b>Hvem som kan se denne ordren</b>

  <br> <br>

  <table>
    <tr>
      <th>Fullt navn</th>
    </tr>
    {% for user in whoCanSeeThis %}
      <tr>
        <td><a href="{% url app.admin.users.views.view user.id %}">{{user.first_name}} {{user.last_name}}</a></td>
      </tr>
    {% endfor %}
  </table>
   <br><br>

    <b>Oppgaver</b>

    <br> <br>

    <table>
      <tr>
        <th>Beskrivelse</th>
      </tr>
      {% for task in order.tasks.all %}
        <tr>
          {% if task.done %}
              <td><a href="{% url app.orders.views.changeStatusTask task.id %}"><img src="/media/images/icons/checked.png" style="vertical-align:middle">{{task}}</a> </td>
          {% else %}
              <td><a href="{% url app.orders.views.changeStatusTask task.id %}"><img src="/media/images/icons/unchecked.png" style="vertical-align:middle">{{task}}</a> </td>
          {% endif %}

        </tr>

      {% endfor %}
    </table>
    <form enctype="multipart/form-data" action="{% url app.orders.views.addTask order.id %}" method="post">
        <fieldset class="module aligned ">

            {% for field in taskForm %}
                <div class="form-row">
                     <div>

                            {{ field.label_tag }}

                            {{ field }}
                            {% for error in field.errors %}
                                <span style="color:red">{{error}}</span>
                            {% endfor %}


                        </div>
               </div>
            {% endfor %}

          </fieldset>
        <input type="submit" value="Lagre" class="default" name="_save" />
    </form>
  
</div>	
   
{% endblock %}	