{% extends "base.html" %}

{%block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}

{% block maincontent %}

<div id="inner">

  {% if order.project %}
    Ordrer ligger under prosjektet: <a href="{% url app.projects.views.view order.project.id %}">{{order.project}}</a>
  {% endif %}

  Kunde: {{ order.customer }}     <br>
  State: {{ order.get_state_display }}



  <br><br><br>
  <b>Beskrivelse</b><br>	
	 {{order.description}}
  <br><br><br>

    {% if order.state != "A" %}

    <a href="{% url app.orders.views.changeStatus order.id %}">

        {% if order.state == "T" %}
            Godkjenn tilbudet
        {% endif %}

        {% if order.state == "O" %}
            Gjør ordren klar for fakturering
        {% endif %}

        {% if order.state == "F" %}
            Arkiver ordren
        {% endif %}

    </a>

    {% endif %}


    <br><br><br>

  <b>Hvem som kan se denne ordren</b>

  <br> <br>

  <table>
    <tr>
      <th>Fullt navn</th>
    </tr>
    {% for user in whoCanSeeThis %}
      <tr>
        <td><a href="{% url app.admin.users.views.view user.id %}">{{user.first_name}} {{user.last_name}}</a></td>
      </tr>
    {% endfor %}
  </table>
  
  
</div>	
   
{% endblock %}	