{% extends "client/client_base.html" %}
{% load i18n %}
{% block maincontent %}

    <div class="in author">
        <h2>{{ ticket.title }}</h2>

        <div style="margin-left:550px; font-size:30px; color:green;">
            {{ ticket.status }}
        </div>



    </div>

    <div class="line"></div>



    <div class="in">

        <div class="ticketBoxQ">

            <div class="ticketBoxQInfo">

                <div class="createInfo">
                    {% trans "Created by" %}: {{ ticket.creator }}<br>
                    {{ ticket.date_created|date:"d.m.Y H.i" }}
                </div>


            </div>
            <br><br><br>
            <hr>
            {{ ticket.description }}
            <br><br>
        </div>

        <br><br><br>

        {% for update in updates %}
            <div class="commentBoxes">

                <div class="ticketBoxQInfo">
                    <div class="createInfo">
                        {% trans "Created by" %}: {{ update.creator }}<br>
                        {{ update.date_created|date:"d.m.Y H.i" }}
                    </div>


                </div>
                <br><br><br>
                <hr>
                <p>
                    {{ update.comment }}
                </p>

                <br><br>
                {% if update.attachment %}
                    <a target="_blank" href="{{ update.get_attachment_url }}">
                    <img src="{{ STATIC_URL }}img/download.png"
                         style="width:30px; height:30px; vertical-align:middle;">
                        {{ update.get_attachment_name }}</a>
                {% endif     %}
            </div>
        {% endfor %}

        {{ form.errors }}
        <div class="in forms">
            <form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
                <div class="form-row">
                    <div>
                        {{ form.comment }}
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        {{ form.attach }}
                    </div>
                </div>
                <p><input name="submit" type="submit" id="submit" tabindex="5" class="com_btn" value="LAGRE"/></p>
            </form>
        </div>
    </div>
    </div>
{% endblock %}