{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block sidebar %}
    {% include "stock/sidebar.html" %}
{% endblock %}

{% block maincontent %}


<h1>{{ title }} </h1>

{% trans "Files" %}

<form action="{% url app.stock.views.product.addFile product.id %}" method="POST"
      enctype="multipart/form-data">
    {{ productFileForm }}
    <input type="submit" value="Last opp" class="btn" name="save"/>
</form>


<table class="tablesorter">

    <tbody>

    {% for file in files %}

    <tr>
        <td>{{ file.name }}</td>
        <td><a target="_blank" target="_blank" href="{{ file.get_file }}">{% trans "download" %}</a></td>
        <td>
            {% require_permission EDIT product %}
            <a href="{% url app.stock.views.product.replaceFile product.id file.id %}">{% trans "update" %}</a>
            {% end_require %}
        </td>
        <td>
            {% require_permission EDIT product %}
            <a href="{% url app.stock.views.product.deleteFile product.id file.id %}">{% trans "delete" %}</a>
            {% end_require %}
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}