{% extends "stock/base.html" %}
{% load i18n %}

{% block sidebar %}
    {% include "stock/sidebar.html" %}
{% endblock %}

{% block content %}
    <table class="datatable">
        <thead>
        <tr>
            <th>{% trans "Product" %}</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td><a href="{{ p.get_view_url }}">{{ p }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}