{% extends "stock/base.html" %}
{% load auth %}
{% load i18n %}

{% block content %}


    <h1>{{ title }} </h1>

    <table>

        <tbody>

        <tr>
            <td style="width:300px;">{% trans "Name" %}</td>
            <td>{{ product.name }}</td>
        </tr>


        <tr>
            <td>{% trans "Number" %}</td>
            <td>{{ product.pid }}</td>
        </tr>

        <tr>
            <td>{% trans "Price in" %}</td>
            <td>{{ product.price }}</td>
        </tr>

        <tr>
            <td>{% trans "Price out" %}</td>
            <td>{{ product.price_out }}</td>
        </tr>
        <tr>
            <td>{% trans "Max discount" %}</td>
            <td>{{ product.max_discount }}</td>
        </tr>
        <tr>
            <td>{% trans "Available in store (count)" %}</td>
            <td>{{ product.countOfAvailableInStock }}</td>
        </tr>
        <tr>
            <td>{% trans "Supplier" %}</td>
            <td><a href="{{ product.supplier.get_view_url }}">{{ product.supplier }}</a></td>
        </tr>
        <tr>
            <td>{% trans "Size" %}</td>
            <td>{{ product.size }}</td>
        </tr>

        <tr>
            <td>{% trans "Unit" %}</td>
            <td>{{ product.unitForSize }}</td>
        </tr>

        <tr>
            <td>{% trans "Currency" %}</td>
            <td>{{ product.priceVal }}</td>
        </tr>

        <tr>
            <td>{% trans "Normal delivery time" %}</td>
            <td>{{ product.normalDeliveryTime }}</td>
        </tr>

        <tr>
            <td>{% trans "Product group" %}</td>
            <td><a href="{{ product.productGroup.get_view_url }}">{{ product.productGroup }}</a></td>
        </tr>
        </tbody>
    </table>
    <br>

    {% if product.description %}

        <b>{% trans "Description" %}</b>
        <br><br>

        {{ product.description|linebreaksbr }}
    {% endif %}

{% endblock %}