{% extends "base.html" %}
{% block submenu %}
	<a href="add"><span>Oprett ny kunde</span></a>
{% endblock %}


{% block maincontent %}

				<table class="tablesorter hover">
					<thead>
						<tr>
							<th>Navn</th>
							<th>#</th>
						</tr>
					</thead>

		<tbody>
		{% for supplier in suppliers %}
			<tr>
				<td>{{supplier.name}}</td>
				<td>
                    <a href="{% url app.suppliers.views.edit supplier.id %}" class="edit admintool"><img
                                src="/media/images/icons/user_edit.png" alt=""></a>
                    <a href="{% url app.suppliers.views.delete supplier.id %}" class="edit admintool"><img
                                                src="/media/images/icons/user_delete.png" alt=""></a>

				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


{% endblock %}