{% extends "order/form.html" %}
{% load i18n %}

{% block maincontent %}


    <h1>{{ title }}</h1>
    <br>
    <br>

    {% if form.errors %}

        <div class="information" id="message">

            <p>Fix before submit again</p>

        </div>

        {% for i in form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <div style="width:605px;">
        <form enctype="multipart/form-data" class="form label-inline" method="post">
            {% for field in form %}
                <div class="fieldWrapper">
                    <span {% if field.errors %}style="color:red;" {% endif %}>{{ field.label }} </span>
                    <br>{{ field }}
                </div>
            {% endfor %}


            <div class="products">
                <br><h5>{% trans "Products" %}</h5>

                <span style="float:right;" id="add_product"><img src="{{ STATIC_URL }}/img/add.png">Add product</span>

                <table>

                    <thead>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Unit cost</th>
                    <th>Qty</th>
                    <th>Tax</th>
                    <th>Total</th>
                    <th></th>
                    </thead>

                    <tbody>
                    {% for product in products %}

                        <tr class="product">
                            <td>
                                <input type="text" class="field_input" name="product_number"
                                       value="{{ product.description }}">
                            </td>
                            <td>
                                <input type="text" class="field_input" style="width:330px;" name="product_description"
                                       value="{{ product.description }}">
                            </td>
                            <td>
                                <input type="text" class="field_input" style="width:40px;" name="product_unit_cost"
                                       value="{{ product.description }}">
                            </td>
                            <td>
                                <input type="text" class="field_input" style="width:30px;" name="product_qty"
                                       value="{{ product.description }}">
                            </td>
                            <td>
                                <input type="text" class="field_input" style="width:25px;" name="product_tax"
                                       value="{{ product.description }}">
                            </td>
                            <td>
                                100kr
                            </td>

                            <td>
                                <div>
                                    <a class="remove_product_button" href="#">Slett</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>

            </div>

            <br><br><br>

            <div>
                <input type="submit" value="Lagre" class="btn" name="save"/>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $("#add_product").live("click", function() {
                var new_product = ($(".products").find(".product").first().html())
                $("<tr class='product'>" + new_product + "</tr>").insertAfter($(".products").find(".product").last())
            })
            $(".remove_product_button").live("click", function() {
                $(this).parent().parent().parent().remove()
            })
        })
    </script>



{% endblock %}