{% extends "tickets/base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "Client management" %}</h1>

    <b>{% trans "Share with new client" %}</b>


    {% if form.errors %}

        <div class="information" id="message">
            <p>Fix before submit again</p>
        </div>

        {% for i in form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <form action="" method="POST">
        {{ form.email }}

        <input type="submit" value="{% trans "Save" %}">
    </form>
    <br><br><br>
    <h4>{% trans "Clients who have access to view this ticket" %}</h4>
    <table>
        {% for client in ticket.clients.all %}
            <tr>
                <td>{{ client }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}