{% extends "tickets/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extraHead %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <style type="text/css">
        .visibility_form {
            color: red;
        }

        .public_visibility {
            color: green;
        }
    </style>

    <script>
        $(function() {
         
            $('.tickets .ticket-details').show();

        })

    </script>

    <ul class="tickets">
        <li class="ticket-data">
            <div class="ticket-details">
                <h4>{{ ticket.title }}</h4>
                <dl>
                    <dt>{% trans "Opened" %}:</dt>
                    <dd><strong>{{ ticket.date_created }}</strong></dd>
                    <dt>{% trans "Last updated" %}:</dt>
                    <dd><strong>{{ ticket.date_edited }}</strong></dd>
                    <dt>{% trans "Milestone" %}:</dt>
                    <dd><strong>{{ ticket }}</strong></dd>
                    <dt class="clear">Reported by:</dt>
                    <dd><strong>{{ ticket.creator }}</strong></dd>
                    <dt>{% trans "Assigned to" %}:</dt>
                    <dd>{% if ticket.assigned_to %}<strong>{{ ticket.assigned_to }}</strong>{% endif %}</dd>
                    <dt>{% trans "Order" %}:</dt>
                    <dd><strong>{% if ticket.order %}{{ ticket.order }}{% endif %}</strong></dd>
                </dl>
                <h5>{% trans "Description" %}</h5>

                 {{ ticket.description }}

            </div>
        </li>
    </ul>

    {% if ticket_form.errors %}
        <div class="information" id="message">
            <p>Fix before submit again</p>
        </div>

        {% for i in ticket_form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <div style="width:605px;">

        {% include "form_fields.html" %}

    </div>


    <br><br><br>
    <h3>{% trans "Comments" %}</h3>
    <br>

    <ul class="logs">

        {% for update in updates %}

            <li>

                {% if comment.creator.profileImage %}
                    <img src="{{ comment.creator.profileImage|thumbnail_with_max_side:"60" }}" class="avatar_img left"
                         alt=""/>
                {% endif %}
                <span class="logs-timestamp">{{ update.date_created|date:"Y.m.d H:i" }}</span>

                <p>
                    {{ comment.text|linebreaks }}
                </p>

                <em class="logs-meta">{% trans "Posted by" %} <a href="#">{{ update.creator }}</a></em>

                <br><br>

                <p>
                    {% if update.update_lines.all %}
                        <b>{% trans "Changes" %}</b>
                        <br>
                        {% for line in update.update_lines.all %}
                            - {{ line.change }}<br>
                        {% endfor %}

                    {% endif %}
                </p>

                {% if update.comment %}
                    <p><b>{% trans "Comment" %}</b> <br> {{ update.comment|linebreaks }}</p>
                {% endif %}

                {% if update.attachment %}
                    <p>
                        <b>{% trans "Attachment" %}</b><br>
                        <a target="_blank" href="{{ update.get_attachment_url }}">
                            <img src="{{ STATIC_URL }}img/download.png"
                                 style="width:30px; height:30px; vertical-align:middle;">
                            {{ update.get_attachment_name }}</a>
                    </p>

                {% endif %}
                {% if ticket.clients.all %}
                    <form class="visibility_form {% if update.public %} public_visibility {% endif %}">
                        <input type="hidden" value="{{ update.id }}"/>
                        {% trans "Public" %}<input type="checkbox" class="visibility_check"
                                {% if update.public %} checked="checked" {% endif %}/>
                    </form>
                {% endif %}


            </li>


        {% endfor %}

    </ul>




    <script>
        $(document).ready(function () {
            $("#id_comment").focus();
        });

        $(document).ready(function() {
            $(".ticket_hideable").hide();
            $("#toggle_extra").click(function() {
                $(".ticket_hideable").toggle();
                $(this).html($(this).html() == "more" ? "{% trans 'less' %}" : "{% trans 'more' %}");
            });

            $("#last_updates").hide()
            $("#show_updates").click(function(e) {
                e.preventDefault();
                $("#last_updates").toggle();
                $(this).html($("#last_updates").is(":visible") ?
                        "{% trans 'Hide updates' %}" : "{% trans 'Show most recent updates' %}");
            })
        });

        var visibility_update_url = "{% url app.tickets.views.ajax_change_update_visibility %}"
        $(function() {
            $(".visibility_check").change(function() {
                $("body").css("cursor", "progress");
                var update_id = $(this).prev("input").val();
                var visible = $(this).attr("checked") ? 1 : 0;
                var data = {id: update_id, visible: visible};
                var parent_form = $(this).parent();
                $.post(visibility_update_url, data,
                        function(data) {
                            var visible = data.visible;
                            if (data.visible) {
                                parent_form.addClass("public_visibility");
                            }
                            else {
                                parent_form.removeClass("public_visibility");
                            }
                            $("body").css("cursor", "auto")
                        }, "json");
            })
        })


    </script>

{% endblock %}

{% block sidebar %}
    {% include "tickets/sidebar.html" %}


{% endblock %}

