{% extends "tickets/base.html" %}
{% load i18n %}

{% block extraHead %}
    {{ form.media }}
{% endblock %}

{% block content %}


    <script>
        $(function() {
            $("#loading").hide();
            $("#form_button").click(function() {
                $("#form_button").hide();
                $("#loading").show();
            })
        })
    </script>


    <h1>{% trans "Update Ticket" %}</h1>
    <br>
    <br>

    {% if ticket_form.errors %}

        <div class="information" id="message">

            <p>Fix before submit again</p>

        </div>

        {% for i in ticket_form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}

        <br><br>
    {% endif %}

    <div style="width:605px; ">

        <form enctype="multipart/form-data" method="post">

            <fieldset>
                <legend>{% trans "change properties" %}</legend>
                <table>
                    <tr>
                        <th>{% trans "status" %}</th>
                        <td>{{ ticket_form.status }}</td>
                    </tr>
                </table>
            </fieldset>


            {% for field in ticket_form %}
                <div class="fieldWrapper">
                    <span {% if field.errors %}style="color:red;" {% endif %}>{{ field.label }} </span>
                    <br>{{ field }}
                </div>

            {% endfor %}

            <div id="loading">
                <span class="loader red" title="Loading, please wait…"></span>
            </div>

            <button id="form_button" type="submit">{% trans "Save" %}</button>


        </form>
    </div>

{% endblock %}

{% block sidebar %}
    {% include "tickets/sidebar.html" %}

{% endblock %}