{% extends "tickets/base.html" %}
{% load auth %}
{% load i18n %}
{% load tickets_includetags %}
{% load thumbnail %}


{% block content %}


    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>


    <h1>{{ title }}</h1>
    {% tickets_type_filter request %}

    <br><br>

    <ul class="tickets">

        <li class="ticket-header">
            <ul>
                <li class="ticket-data-priority" style="width: 10px;"></li>
                <li class="ticket-data-activity"
                    style="width:25%; padding-left:40px; text-align: left;">{% trans "Title" %}</li>
                <li class="ticket-data-activity">{% trans "Created by" %}</li>
                <li class="ticket-data-activity">{% trans "Priority" %}</li>
                <li class="ticket-data-activity">{% trans "Status" %}</li>
                <li class="ticket-data-activity">{% trans "Date created" %}</li>
            </ul>
        </li>

        {% for ticket in tickets %}

            <li class="ticket-data">
                <div class="ticket-overview">
                    <ul>
                        <li class="ticket-data-priority" style="width: 10px;">
                            {% if ticket.mark_as_unread_for_current_user %}
                                <img src="{{ STATIC_URL }}img/icons/notification.png"
                                     style="padding-left: 15px; width:18px; height: 18px;">
                            {% endif %}
                        </li>

                        <li class="ticket-data-ticket" style="width:25%; padding-left:40px; text-align: left;">

                            <a href="#" class="ticket-open-details">{{ ticket.title }}</a>

                            <p>{{ ticket.description|truncatewords:15 }}</p>

                        </li>
                        <li class="ticket-data-priority">
                            <strong>{{ ticket.creator }}</strong>

                        </li>
                        <li class="ticket-data-priority">
                            <span class="tag {{ ticket.get_priority.color }}">{{ ticket.get_priority.name }}</span>
                        </li>
                        <li class="ticket-data-priority">
                            <span class="tag {{ ticket.get_status.color }}">{{ ticket.get_status.name }}</span>
                        </li>
                        <li class="ticket-data-priority">
                            {{ ticket.date_created }}
                        </li>
                    </ul>
                </div>
                <div class="ticket-details">
                    <h4>{{ ticket.title }}</h4>
                    <dl>
                        <dt>{% trans "Opened" %}:</dt>
                        <dd><strong>{{ ticket.date_created }}</strong></dd>
                        <dt>{% trans "Last updated" %}:</dt>
                        <dd><strong>{{ ticket.date_edited }}</strong></dd>
                        <dt>{% trans "Milestone" %}:</dt>
                        <dd><strong>{{ ticket }}</strong></dd>
                        <dt class="clear">Reported by:</dt>
                        <dd><strong>{{ ticket.creator }}</strong></dd>
                        <dt>{% trans "Assigned to" %}:</dt>
                        <dd>{% if ticket.assigne_to %}<strong>{{ ticket.assigned_to }}</strong>{% endif %}</dd>
                        <dt>{% trans "Order" %}:</dt>
                        <dd><strong>{% if ticket.order %}{{ ticket.order }}{% endif %}</strong></dd>
                    </dl>
                    <h5>{% trans "Description" %}</h5>

                    <p>{{ ticket.description }}</p>
                    <ul class="ticket-details-actions">
                        <li><a href="{{ ticket.get_update_url }}" class="button gray">{% trans "Update ticket" %}</a>
                        </li>
                        <li><a href="#" class="button red">{% trans "Close ticket" %}</a></li>
                    </ul>

                    <br/>

                    {% if ticket.get_updates %}
                        <h3>{% trans "History" %}</h3>
                    {% endif %}
                    <ul class="logs">

                        {% for update in ticket.get_updates %}

                            <li>
                                {% if comment.creator.profileImage %}
                                    <img src="{{ comment.creator.profileImage|thumbnail_with_max_side:"60" }}"
                                         class="avatar_img left"
                                         alt=""/>
                                {% endif %}

                                <span class="logs-timestamp">{{ update.date_created|date:"Y.m.d H:i" }}</span>

                                <p>
                                    {{ comment.text|linebreaks }}
                                </p>

                                <em class="logs-meta">{% trans "Posted by" %} <a href="#">{{ update.creator }}</a></em>

                                <br><br>

                                <p>
                                    {% if update.get_update_lines %}
                                        <b>{% trans "Changes" %}</b>
                                        <br>
                                        {% for line in update.get_update_lines %}
                                            - {{ line.change }}<br>
                                        {% endfor %}
                                    {% endif %}
                                </p>

                                {% if update.comment %}
                                    <p><b>{% trans "Comment" %}</b> <br> {{ update.comment|linebreaks }}</p>
                                {% endif %}

                                {% if update.attachment %}
                                    <p>
                                        <b>{% trans "Attachment" %}</b><br>
                                        <a target="_blank" href="{{ update.get_attachment_url }}">
                                            <img src="{{ STATIC_URL }}img/download.png"
                                                 style="width:30px; height:30px; vertical-align:middle;">
                                            {{ update.get_attachment_name }}</a>
                                    </p>
                                {% endif %}
                                {% if ticket.get_clients %}
                                    <form class="visibility_form {% if update.public %} public_visibility {% endif %}">
                                        <input type="hidden" value="{{ update.id }}"/>
                                        {% trans "Public" %}<input type="checkbox" class="visibility_check"
                                                {% if update.public %} checked="checked" {% endif %}/>
                                    </form>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}