{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block sidebar %}
    {% include "tickets/sidebar.html" %}
{% endblock %}

{% block maincontent %}


    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter').quicksearch("#dataTable tbody tr");
        });

    </script>

    <h1>{{ title }}</h1>
    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>
    <table id="dataTable">

        <thead>
        <tr>
            <th>{% trans "Tickets" %}</th>
            <th>{% trans "Priority" %}</th>
            <th>{% trans "Updates" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Last edited" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{% url app.tickets.views.view ticket.id %}">{{ ticket.title }}</a></td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.updates.count }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.date_edited|date:"d.m.Y H:i" }} av {{ ticket.editor }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}