{% extends "tickets/base.html" %}
{% load auth %}
{% load i18n %}
{% load tickets_includetags %}

{% block content %}


    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>

    <h1>{{ title }}</h1>
    {% tickets_type_filter request %}
    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>
    <table id="dataTable">

        <thead>
        <tr>
            <th>{% trans "Tickets" %}</th>
            <th>{% trans "Priority" %}</th>
            <th>{% trans "Assigned" %}</th>
            <th>{% trans "Created by" %}</th>
            <th>{% trans "Updates" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Last edited" %}</th>
        </tr>
        </thead>
        <!-- ajax -->
        <tbody>

        </tbody>
    
    </table>

    <script type="text/javascript">

        function getTdCell(value) {
            return "<td>" + value + "</td>"
        }


        function getRowFromTicket(ticket) {
            if(ticket.mark_as_unread_for_current_user)
            {
                var row = "<tr class='ticket_marked_as_unread_for_current_user'>";
            }else {
                var row = "<tr>";
            }

            row += getTdCell("<a href=\"" + ticket.ticket_url + "\">" + ticket.title +"</a>");
            row += getTdCell(ticket.priority.name);

            if(ticket.assigned_to) {
                row += getTdCell(ticket.assigned_to.get_full_name);
            } else {
                row += getTdCell("{% trans "None" %}");                
            }

            if(ticket.user) {
                row += getTdCell(ticket.user.get_full_name);
            } else {
                row += getTdCell("{% trans "Client" %}");
            }

            row += getTdCell(ticket.update_count);
            row += getTdCell(ticket.status.name);
            row += getTdCell(ticket.type.name);
            row += getTdCell(ticket.date_edited);
            row += "</tr>";
            return row
        }

        function build_table(tickets, deleteExisting) {
            var start = new Date().getTime();
            var tbody = $("#dataTable tbody");
            if(deleteExisting) {
                tbody.children("tr").remove();
            }
            $(tickets).each(function() {
                tbody.append(getRowFromTicket(this))
            });
            $('#filter').quicksearch("#dataTable tbody tr");
            console.log("Table built in: " + (new Date().getTime() - start));
        }

        var current_user_id = {{ request.user.id }};
        var assigned_to = {% if assigned_to %} current_user_id; {% else %} 0; {% endif %}
        var status = 0;
        function getTickets(type, trashed, range) {
            if(range == undefined) {
                range = 0;
            }
            var data = type ? { type_id: parseInt(type)} : {};
            data.status_id = status;
            data.assigned_to = assigned_to;
            data.trashed = trashed;
            data.range = range;

            $.get("/api/tickets/", data,
            function(data) {
                if(data.length > 0) {
                    build_table(data, (range==0));
                    getTickets(type, trashed, range + 12)
                }
            }, "json");
        }

        $(function() {
            var trashed = {% if trashed_tickets %} 1; {% else %} 0; {% endif %}
            getTickets(0, trashed);

            $("#type_selection").change(function() {
                var typeId = parseInt($("#type_selection option:selected").val());
                getTickets(typeId, 0)
            });
            
            $("#assigned_links a").click(function() {
                assigned_to = current_user_id;
                status = $(this).attr("class")
                getTickets(0, 0);
                restoreDefaultType();
                return false;
            });

            $("#overview_links a").click(function() {
                assigned_to = 0;
                status = $(this).attr("class");
                getTickets(0, 0);
                restoreDefaultType();
                return false;
            });

            $("#trashed").click(function() {
                assigned_to = 0;
                status = 0;
                getTickets(0, 1);
                restoreDefaultType();
                return false;
            })

            function restoreDefaultType() {
                $("#type_selection option:selected").removeAttr("selected");
                $("#type_selection option").first().attr("selected", "selected");
            }
        });

    </script>


{% endblock %}