{% load menu_tags %}
{% load i18n %}
<h3>Sidebar</h3>
<ul>
    {% if ticket.id %}
        <li><a class="{% active request "contacts/$" %}" href="{% url app.tickets.views.overview %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a></li>

        <li><a class="{% active request "view" %}" href="{% url app.tickets.views.view ticket.id %}"><img
                src="{{ STATIC_URL }}img/view.png" width="24" height="24" alt="Home"/>{% trans "VIEW" %}</a></li>

        <li><a class="{% active request "edit" %}" href="{% url app.tickets.views.edit ticket.id %}"><img
                src="{{ STATIC_URL }}img/edit.png" width="24" height="24" alt="Mail"/>{% trans "UPDATE" %}</a></li>

        <li><a class="{% active request "trash" %}" href="{% url app.tickets.views.trash ticket.id %}"><img
                src="{{ STATIC_URL }}img/delete.png" width="24" height="24" alt="Mail"/>{% trans "DELETE" %}</a></li>
    {% else %}

        <li>
            <a class="{% active request "assigned/$" %} menu_parent" href="{% url app.tickets.views.assigned_to_user %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "ASSIGNED TO YOU" %}</a>
            <div class="sidebar_submenu">
                <ul id="assigned_links">
                    <li><a class="0" href="#">{% trans "Alle" %}</a> </li>
                {% for status in statuses %}
                    <li><a class="{{ status.id }}" href="#">{{ status.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </li>

        <li>
            <a class="{% active request "tickets/overview/$" %} menu_parent" href="{% url app.tickets.views.overview %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a>
            <div class="sidebar_submenu">
                <ul id="overview_links">
                    <li><a class="0" href="#">{% trans "Alle" %}</a> </li>
                {% for status in statuses %}
                    <li>
                        <a class="{{ status.id }}" href="#">{{ status.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </li>

        <li><a class="{% active request "new" %}" href="{% url app.tickets.views.add %}"><img
                src="{{ STATIC_URL }}img/add.png" width="24" height="24" alt="Home"/>{% trans "NEW TICKET" %}</a></li>

        <li><a id="trashed" class="{% active request "trashed" %}" href="#"><img
                src="{{ STATIC_URL }}img/trash.png" width="24" height="24" alt="Home"/>{% trans "TRASHED" %}</a></li>
    {% endif %}
</ul>

<script type="text/javascript">

    var last_clicked = null;
    $(function() {
        $(".sidebar_submenu").hide();

        {% if statuses %}
        $(".menu_parent").click(function() {
            if (last_clicked != this && last_clicked != null) {
                $(last_clicked).siblings(".sidebar_submenu").hide();
            }
            $(this).siblings(".sidebar_submenu").toggle('fast');
            last_clicked = this;
            return false;
        });
        {% endif %}
    })

</script>