{% load menu_tags %}
{% load i18n %}

<ul>


    <li>
        <a class="{% active request "assigned/$" %} menu_parent"
           href="{% url app.tickets.views.assigned_to_user %}">{% trans "ASSIGNED TO YOU" %}</a>
        <div class="sidebar_submenu">
            <ul id="assigned_links">
                <li><a class="0" href="#">{% trans "Alle" %}</a></li>

                {% for status in statuses %}
                    <li><a class="{{ status.id }}" href="#">{{ status.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>

    <li>
        <a class="{% active request "tickets/overview/$" %} menu_parent"
           href="{% url app.tickets.views.overview %}">{% trans "OVERVIEW" %}</a>
        <div class="sidebar_submenu">
            <ul id="overview_links">
                <li><a class="0" href="#">{% trans "Alle" %}</a></li>
                {% for status in statuses %}
                    <li>
                        <a class="{{ status.id }}" href="#">{{ status.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>

    <li>
        <a class="{% active request "new" %}" href="{% url app.tickets.views.add %}">{% trans "NEW TICKET" %}</a>
    </li>

    <li>
        <a id="trashed" class="{% active request "trashed" %}"
           href="{% url app.tickets.views.overview_trashed %}">{% trans "TRASHED" %}</a>
    </li>

</ul>

<script type="text/javascript">
    var last_clicked = null;
    $(function() {
        $(".sidebar_submenu").hide();

        {% if statuses %}
            $(".menu_parent").click(function() {
                if (last_clicked != this && last_clicked != null) {
                    $(last_clicked).siblings(".sidebar_submenu").hide();
                }
                $(this).siblings(".sidebar_submenu").toggle('fast');
                last_clicked = this;
                return false;
            });
        {% endif %}
    })
</script>