{% load menu_tags %}
{% load i18n %}
<h3>Sidebar</h3>
<ul>
    {% if ticket.id %}
        <li><a class="{% active request "contacts/$" %}" href="{% url app.tickets.views.overview %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a></li>

        <li><a class="{% active request "view" %}" href="{% url app.tickets.views.view ticket.id %}"><img
                src="{{ STATIC_URL }}img/view.png" width="24" height="24" alt="Home"/>{% trans "VIEW" %}</a></li>

        <li><a class="{% active request "edit" %}" href="{% url app.tickets.views.edit ticket.id %}"><img
                src="{{ STATIC_URL }}img/edit.png" width="24" height="24" alt="Mail"/>{% trans "UPDATE" %}</a></li>

        <li><a class="{% active request "trash" %}" href="{% url app.tickets.views.trash ticket.id %}"><img
                src="{{ STATIC_URL }}img/delete.png" width="24" height="24" alt="Mail"/>{% trans "DELETE" %}</a></li>
    {% else %}

        <li><a class="{% active request "assigned/$" %}" href="{% url app.tickets.views.assigned_to_user %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "ASSIGNED TO YOU" %}</a>
        </li>

        <li><a class="{% active request "tickets/overview/$" %}" href="{% url app.tickets.views.overview %}"><img
                src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "OVERVIEW" %}</a></li>

        <li><a class="{% active request "new" %}" href="{% url app.tickets.views.add %}"><img
                src="{{ STATIC_URL }}img/add.png" width="24" height="24" alt="Home"/>{% trans "NEW TICKET" %}</a></li>

        <li><a class="{% active request "trashed" %}" href="{% url app.tickets.views.overview_trashed %}"><img
                src="{{ STATIC_URL }}img/trash.png" width="24" height="24" alt="Home"/>{% trans "TRASHED" %}</a></li>
    {% endif %}
</ul>