{% extends "base.html" %}
{% load auth %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block submenu %}
{% endblock %}


{% block sidebar %}
    {% include "tickets/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <style>

        .ticketinfo {
            width: 100%;
            float: left;
        }

    </style>


        <div class="ticketinfo">
            <table>
                <thead>
                <tr>
                    <th>{% trans "Ticket" %}</th>
                    <th>{% trans "Details" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% trans "Title" %}</td>
                    <td>{{ ticket.title }}</td>
                </tr>
                <tr>
                    <td>{% trans "Status" %}</td>
                    <td> {{ ticket.status }}</td>
                </tr>

                </tbody>

            </table>
        </div>

        <div class="history">
            History

        <br>
        {% for entry in history %}
            {{ entry.changedSinceLastTime }}
            <br>

        {% endfor %}
        </div>


{% endblock %}