{%load i18n %}

<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>{% block title %}{%trans "FocusTime" %}{% endblock %}</title>
<link rel="stylesheet" href="/media/css/styles.css" /> 
<link rel="stylesheet" href="/media/css/misc.css" /> 

<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


  <!-- Load Jquery -->
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/custom.jquery.js"></script>
  <!-- /End Jquery -->
  
{%block extrahead %}{% endblock %}{{ form_media }}

<body class="blue">
  
		<!-- Header -->	
		{% include "messages.html" %}
		
		<div id="header">
			<img id="logo" src="/media/images/logo.png" alt="">
			<h1>FocusTime - {{user.get_profile.company}}</h1>
			<p>
				<strong>
				{% if user.is_authenticated %}
				  				
					Logget inn som <a href="{% url app.admin.users.views.view user.id %}">{{user.first_name}} {{user.last_name}}</a> 
				{%endif%}
				
				</strong>
				
				<a href="/accounts/logout">Logg ut</a>
			</p>
		</div>
		<!-- /End Header -->

		<!-- Main Area Container -->
		<div id="container">
		  
			{% load menu_tags %}
			
			<div id="sidebar">

				<a class="menu" href=""></a>

				<ul id="menu">
					<li><a href="start">Start</a></li>
					<li><a href="innstillinger">Innstillinger</a></li>
				</ul>
			
				<ul class="navigation" id="start">
					
					<li class="{% active request "^/dashboard/" %}">
						<a href="{% url app.dashboard.views.overview %}"><img src="/media/images/icons/house.png" alt="">Oppslagstavle</a>
					</li>
					
					<li class="{% active request "^/customers/" %}">
						<a href=""><img src="/media/images/icons/user.png" alt="">Kunder</a>
						<ul>
							<li><a href="{% url app.customers.views.add %}"><img src="/media/images/icons/add.png" alt="">Legg til ny kunde</a></li>
							<li><a href="{% url app.customers.views.overview %}"><img src="/media/images/icons/user.png" alt="">Oversikt</a></li>
							<li><a href="{% url app.customers.views.overview_deleted %}"><img src="/media/images/icons/user.png" alt="">Slettede kunder</a></li>
							<li><a href="{% url app.customers.views.overview_all %}"><img src="/media/images/icons/user.png" alt="">Alle kunder</a></li>
							<li></li>
						</ul>
					</li>					
					
					<li class="{% active request "^/contacts/" %}">
						<a href=""><img src="/media/images/icons/vcard.png" alt="">Kontakter</a>
						<ul>
							<li><a href="{% url app.contacts.views.add %}"><img src="/media/images/icons/add.png" alt="">Legg til ny kontakt</a></li>
							<li><a href="{% url app.contacts.views.overview %}"><img src="/media/images/icons/vcard.png" alt="">Dine kontakter</a></li>
							<li><a href="{% url app.contacts.views.overview_all %}"><img src="/media/images/icons/vcard.png" alt="">Alle kontakter</a></li>
							<li><a href="{% url app.contacts.views.overview_deleted %}"><img src="/media/images/icons/vcard.png" alt="">Slettede kontakter</a></li>
							<li></li>
						</ul>
					</li>	
					
					<li class="{% active request "^/projects/" %}">
						<a href=""><img src="/media/images/icons/book.png" alt="">Prosjekter</a>
						<ul>
							<li><a href="{% url app.projects.views.add %}"><img src="/media/images/icons/add.png" alt="">Legg til nytt prosjekt</a></li>
							<li><a href="{% url app.projects.views.overview %}"><img src="/media/images/icons/book.png" alt="">Dine prosjekter</a></li>
							<li><a href="{% url app.projects.views.overview_all %}"><img src="/media/images/icons/book.png" alt="">Alle aktive prosjekter</a></li>
							<li><a href="{% url app.projects.views.overview_deleted %}"><img src="/media/images/icons/book.png" alt="">Alle slettede prosjekter</a></li>
						</ul>
					</li>
					
					
					<li class="{% active request "^/files/" %}">
						<a href=""><img width="16px" height="16" src="/media/images/icons/fileIcon.png" alt="">Filer</a>
						<ul>
							<li><a href="{% url app.files.files.views.add %}"><img src="/media/images/icons/add.png" alt="">Legg til ny fil</a></li>
							<li><a href="{% url app.files.files.views.overview %}"><img width="12px" height="12px" src="/media/images/icons/fileIcon.png" alt="">Oversikt</a></li>
						</ul>
					</li>


                    <li class="{% active request "^/orders/" %}">
						<a href=""><img src="/media/images/icons/basket.png" alt="">Ordrer</a>
						<ul>
							<li><a href="{% url app.orders.views.add %}"><img src="/media/images/icons/add.png" alt="">Legg til ny ordre</a></li>
							<li><a href="{% url app.orders.views.overview %}"><img src="/media/images/icons/basket.png" alt="">Oversikt</a></li>
						</ul>
					</li>



					<li class="{% active request "^/timetracking/" %}">
						<a href=""><img src="/media/images/icons/clock.png" alt="">Timeregistrering</a>
						<ul>
							<li><a href="{% url app.timetracking.views.calendar %}"><img src="/media/images/icons/add.png" alt="">Timeføring</a></li>
              <li><a href="{% url app.timetracking.views.add %}"><img src="/media/images/icons/add.png" alt="">Registrer manuelt</a></li>
							<li><a href="{% url app.timetracking.views.overview %}"><img src="/media/images/icons/clock.png" alt="">Oversikt</a></li>
						</ul>
					</li>	

					<li class="{% active request "^/announcements/" %}">
						<a href=""><img src="/media/images/icons/layout.png" alt="">Oppslag</a>
						<ul>
							<li><a href="{% url app.announcements.views.add %}"><img src="/media/images/icons/add.png  " alt="">Legg til nytt oppslag</a></li>
							<li><a href="{% url app.announcements.views.overview %}"><img src="/media/images/icons/layout.png" alt="">Oversikt</a></li>
						</ul>
					</li>
									
				</ul>

				<ul class="navigation" id="innstillinger">
					<li class="{% active request "^/useradmin/" %}">
						<a href=""><img src="/media/images/icons/layout.png" alt="">Brukeradministrasjon</a>
						<ul>
							<li><a href="{% url app.admin.users.views.overview %}"><img src="/media/images/icons/layout.png" alt="">Oversikt</a></li>
							<li><a href="{% url app.admin.users.views.add %}"><img src="/media/images/icons/layout_add.png  " alt="">Legg til ny bruker</a></li>
						</ul>
					</li>
					

          <li class="{% active request "^/groupadmin/" %}">
            <a href=""><img src="/media/images/icons/layout.png" alt="">Gruppeadministrasjon</a>
            <ul>
              <li><a href="{% url app.admin.memberships.views.overview %}"><img src="/media/images/icons/layout.png" alt="">Oversikt</a></li>
              <li><a href="{% url app.admin.memberships.views.add %}"><img src="/media/images/icons/layout_add.png  " alt="">Legg til ny gruppe</a></li>
            </ul>
          </li>  
        </ul>
        
				<!-- /End Settings Navigation -->
				
			</div>
			<!-- /End Sidebar -->
			
			<!-- Subheader -->
			<div id="subheader" class="clearfix">
				<h2>{{title}}</h2>
				{% block submenu %}
				{% endblock %}
			</div>
			
			<!-- /End Subheader -->
			
			<!-- Main Content Area -->
			<div id="content">
			
				{% block maincontent %}
				{% endblock %}				
								
			</div>
			<!-- /End Content Area -->
			
		</div>
		<!-- End Main Area Container -->
	
	
	
	
	<!-- Profile Messages - initially hidden -->
		<div id="messages" style="display: none">
			
			<!-- Messages -->
			<h3>3 Messages</h3> 
		 	<p> 
				<strong>17th May 2009</strong> by Admin<br /> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
				<small><a href="#" title="Remove message">Remove</a></small> 
			</p> 
		 	<p> 
				<strong>2nd May 2009</strong> by Jane Doe<br /> 
				Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
				<small><a href="#" title="Remove message">Remove</a></small> 
			</p>
			<!-- /End Messages -->
			
			<!-- New Message -->
			<form action=""> 
				<h4>New Message</h4>
				<ul>
					<li>
						<label>Send to:</label>
						<input type="text"/>
					</li>
					<li>
						<label>Message:</label>
						<textarea cols="79" rows="5"></textarea>
					</li>
					<li>
						<a class="button">Send</a>
					</li>
				</ul>
			</form>
			<!-- /End New Message -->
			
		</div>
		<!-- /End Profile Messages-->
	

	</body>


	
</html>
