{% extends "base.html" %}
  
		{% block maincontent %}
		<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/admin-widgets.css" />


    <script>
    
    function giveWarning(self) {
        return alert('Husk at den vil bli slettet permanent');
    }
    </script>



            <div class="portlet x12">

                <div class="portlet-header"><h4>{{ title }}</h4></div>

                <div class="portlet-content">





<form enctype="multipart/form-data" action="" method="post">
	
			{{ form_perm.management_form }}
            {{ PermGroupSet.management_form }}

    <table cellpadding="0" cellspacing="0" border="0" class="display">
					<thead>
						<tr> 
							<th width="200px">Bruker</th>
							<th width="80px">Kan se</th>
							<th width="80px">Kan endre</th>
							<th width="80px">Kan slette</th>
                            <th width="80px">Kan endre rettigheter</th>
							<th width="150px">Negativ rettighet</th>
							<th>Slett denne</th>
						</tr> 
					</thead>
					<tbody> 
					
					{% for forms in form_perm.forms %}
 		
		 				{# Include the hidden fields in the form #}
			                {% for hidden in forms.hidden_fields %}
			                	{{ hidden }}
			                {% endfor %}
            	
		            	<tr> 
								<td>{{ forms.user }}</td> 
								<td>{{ forms.can_view }}</td>
								<td>{{ forms.can_change }}</td> 
								<td>{{ forms.can_delete }}</td> 
								<td>{{ forms.can_modify_permissions }}</td>
								<td>{{ forms.negative }}</td>
								<td onclick="giveWarning(this);">{{ forms.deleted }}</td> 			
						</tr>  			
    	
    				{% endfor %}		
					</tbody>
				</table>


				<table class="tablesorter">
					<thead>
						<tr>
							<th width="200px">Medlemmer av</th>
							<th width="80px">Kan se</th>
							<th width="80px">Kan endre</th>
							<th width="80px">Kan slette</th>
							<th width="80px">Kan endre rettigheter</th>
                            <th>Slett denne</th>

						</tr>

					</thead>

                    <tbody>

					{% for forms in PermGroupSet.forms %}

		 				{# Include the hidden fields in the form #}
			                {% for hidden in forms.hidden_fields %}
			                	{{ hidden }}
			                {% endfor %}

		            	<tr>
								<td>{{ forms.membership }}</td>
								<td>{{ forms.can_view }}</td>
								<td>{{ forms.can_change }}</td>
								<td>{{ forms.can_delete }}</td>
								<td>{{ forms.can_modify_permissions }}</td>
								<td onclick="giveWarning(this);">{{ forms.deleted }}</td>
						</tr>

    				{% endfor %}
					</tbody>
				</table>


      <input type="submit" value="Lagre" class="btn" name="_save" />

      </div></div>

{% endblock %}