{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
    {% include "orders/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h1>{% trans "Create invoice from this order" %}</h1>

    {% if order.archived %}
        <h3>{% trans "This order is archived." %}</h3>
    {% endif %}

     {% if form.errors %}

        <div class="information" id="message">
            <p>Fix before submit again</p>
        </div>

        {% for i in form %}
            {% if i.errors %}
                {{ i.label }}{{ i.errors }}
            {% endif %}
        {% endfor %}
        <br><br>

    {% endif %}

    <form action="" method="POST">
        {% trans "Invoice number" %}
        <input name="order_number" value="{% if not order.archived %} {{ next_invoice_number }} {% endif  %}"{% if order.archived %} disabled="disabled" {% endif %}>
        <input value="{% trans "Save" %}" type="submit" {% if order.archived %} disabled="disabled" {% endif %}>
    </form>

{% endblock %}