{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
    {% include "orders/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter').quicksearch("#dataTable tbody tr");
        });
    </script>

    <h1>{{ title }} </h1>

    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>

    <form action="" method="POST">
        {% trans "Product" %} {{ form.product }}
        {% trans "Count" %} {{ form.count }}
        <input type="submit" value="{% trans "Add new product" %}">
    </form>

    <table id="dataTable">
        <thead>
        <tr>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Count" %}</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>

        {% for orderline in orderlines.all %}
            <tr>
                <td><a href="{% url app.stock.views.product.view orderline.product.id %}">{{ orderline.product }}</a></td>
                <td>{{ orderline.count }} stk </td>
                <td><a href="{% url app.orders.views.delete_order_line order.id orderline.id %}">{% trans "Delete" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}