{% load menu_tags %}
{% load i18n %}

<h3>{% trans "Orders" %}</h3>
<ul>
    <li><a class="{% active request "contacts/$" %}" href="{% url app.orders.views.order.my_orders %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "MY ORDERS" %}</a></li>
    <li><a class="{% active request "contacts/$" %}" href="{% url app.orders.views.order.overview %}"><img
            src="{{ STATIC_URL }}img/list.png" width="24" height="24" alt="Home"/>{% trans "ALL ORDERS" %}</a></li>

    {% if order.id %}
        <li><a class="{% active request "view" %}" href="{% url app.orders.views.order.view order.id%}"><img
                src="{{ STATIC_URL }}img/view.png" width="24" height="24" alt="Home"/>{% trans "VIEW" %}</a></li>
        <li><a class="{% active request "edit" %}" href="{% url app.orders.views.order.edit order.id%}"><img
                src="{{ STATIC_URL }}img/edit.png" width="24" height="24" alt="Home"/>{% trans "EDIT" %}</a></li>
        <li><a class="{% active request "invoice" %}"
               href="{% url app.orders.views.order.create_invoice order.id%}"><img
                src="{{ STATIC_URL }}img/order.png" width="24" height="24" alt="Home"/>{% trans "CREATE INVOICE" %}
        </a></li>
    {% else %}
        <li><a class="{% active request "order/new" %}" href="{% url app.orders.views.order.add %}"><img
                src="{{ STATIC_URL }}img/add.png" width="24" height="24" alt="Home"/>{% trans "NEW ORDER" %}</a></li>
    {% endif %}
</ul>