{% extends "orders/base.html" %}
{% load i18n %}
{% load thumbnail %}


{% block content %}

    <h1>{{ order }}</h1>

    <h2>{% trans "Description" %}</h2>
    {{ order.description }}

    <br><br>

    <h2>{% trans "Participants" %}</h2>

    <div class="clearfix"></div>
    <article>
        <div class="article-container">


            <ul class="contacts">
                {% for user in who_can_see_this %}


                    <li>
                        <img src="{{ user.profileImage|thumbnail_with_max_side:"40" }}" title="User" alt=""/>
                        <a href="{% url app.admin.views.user.view user.id %}"
                           class="contacts-user">{{ user.first_name }} {{ user.last_name }}</a>
                        <em>{{ user.email }}</em>

                    </li>
                {% endfor %}
            </ul>

        </div>
    </article>


    <br><br>

    {% include "comments.html" %}

    <h2>{% trans "Products" %}</h2>
    {% if order.product_lines.all %}
        <div class="products">

            <table>
                <thead>
                <th>Item</th>
                <th>Description</th>
                <th>Unit cost</th>
                <th>Qty</th>
                <th>Tax</th>
                <th>Total</th>
                </thead>

                <tbody>
                {% for product in order.product_lines.all %}

                    <tr class="product">
                        <td>
                            {{ product.get_item }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            {{ product.count }}
                        </td>
                        <td>
                            {{ product.tax }}
                        </td>

                        <td>
                            100kr
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    {% endif %}

{% endblock %}