{% extends "base.html" %}

{% block extrahead %}

{% endblock %}

{% block submenu %}

{% endblock %}



{% block maincontent %}

    <div class="portlet x9">

        <div class="portlet-header"><h4>{{ title }}</h4></div>

        <div class="portlet-content">


            Navn: {{ userCard.first_name }} {{ userCard.last_name }}
            <br>
            Epost: {{ userCard.email }}
            <br>
            Firma: {{ userCard.get_profile.company }}
            <br><br>
            <a href="{% url app.admin.users.views.changeCanLogin userCard.id %}">Kan logge inn:
                <b>{{ userCard.canLogin }}</b></a>
            <br>

            <br><br>
            <table style="text-align:center">

                <tr>
                    <th>Medlem i gruppene</th>
                </tr>

                {% for member in userCard.groups.all %}

                    <tr>
                        <td><a href="{% url app.admin.groups.views.view member.id %}">{{ member }}</a></td>
                    </tr>

                {% endfor %}

            </table>

            {% regroup permissions by content_type as Permissions %}


            <br><br>
            <b>Rettigheter</b>
            <br><br>
            <table style="text-align:center">

                <tr>
                    <th></th>
                    <th>Objekt</th>
                    <th>Rettigheter</th>
                    <th>Gruppe</th>
                </tr>



                {% for type in Permissions %}

                    <tr>
                        <td style="text-align:left;"><b>{{ type.grouper }}</b></td>
                        <td colspan=5></td>
                    </tr>

                    {% for perm in type.list %}

                        <tr>
                            <td></td>
                            <td style="text-align:left;">{{ perm.id }} | <a
                                    href='{{perm.get_object.getViewUrl}}'>{{ perm.get_object }}</a>
                            </td>
                            <td>

                                {% for action in perm.get_valid_actions %}

                                    {{ action }}

                                {% endfor %}

                            </td>

                            <td>{% if perm.group %}
                                Gjennom gruppen <a
                                        href="{% url app.admin.groups.views.view perm.membership.id %}">{{  perm.group }}</a>
                            {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="portlet x3">
        <div class="portlet-header"><h4>Valg</h4></div>
        <div class="portlet-content">
            <div class="tool editChoice">
                <a href="{% url app.admin.users.views.edit userCard.id %}" class="edit admintool">Endre</a>
            </div>

            <div class="tool editChoice">
                <a href="{% url app.admin.users.views.sendGeneratedPassword userCard.id %}" class="edit admintool">Send
                    nytt
                    passord</a>
            </div>

            <div class="tool deleteChoice">
                <a href="{% url app.admin.users.views.delete userCard.id %}" class="edit admintool">Slett</a>
            </div>
        </div>
    </div>

{% endblock %}	