{% extends "base.html" %}
{% load timetracking_tags %}

{% block submenu %}
    <a href="add"><span>Oprett nytt prosjekt</span></a>
{% endblock %}

{% block maincontent %}
    <div class="portlet x12">

          <div class="portlet-header"><h4>{{ title }}</h4></div>

          <div class="portlet-content">

              <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">

        <thead>
        <tr>
            <th>År</th>
            <th>Måneder</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>

        {% for year,months in year_with_months.items reversed %}
            <tr>
                <td>{{ year }}</td>
                <td>{% links_for_archived_month year months %}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

           </div></div>

{% endblock %}