{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extrahead %}

{% endblock %}

{% block sidebar %}
    {% include "admin/sidebar.html" %}
{% endblock %}

{% block maincontent %}

    <h1>{{ title }}</h1>

    <img src="{{ userCard.profileImage|thumbnail_with_max_side:"350" }}">

    <br>
    {% trans "Name" %}: {{ userCard.first_name }} {{ userCard.last_name }}
    <br>
    {% trans "E-mail" %}: {{ userCard.email }}

    <br>
    {% trans "Company" %}: {{ userCard.get_company }}

    <br><br>
    <a href="{% url app.admin.views.user.changeCanLogin userCard.id %}">{% trans "Permission to log in" %}:
        <b>{{ userCard.canLogin }}</b></a>
    <br>

    <br><br>
    <table style="text-align:center">
        <tr>
            <th>{% trans "Groups" %}</th>
        </tr>
        {% for group in userCard.groups.all %}
            <tr>
                <td><a href="{% url app.admin.views.group.view group.id %}">{{ group }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}	