{% extends "stock/base.html" %}
{% load i18n %}

{% block content %}


    <script src="{{ STATIC_URL }}js/quicksearch.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter').quicksearch("#dataTable tbody tr");
        });
    </script>

    <h1>{{ title }} </h1>


    <div class="searchBox">
        <input class="search" type="text" value="" id="filter" placeholder="Filtrér">
    </div>
    <table id="dataTable">
        <thead>
        <tr>
            <th>{% trans "Product units" %}</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for p in units %}
            <tr>
                <td><a href="{% url app.stock.views.productunit.edit p.id %}">{{ p }}</a></td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}