{% extends "admin/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extrahead %}

{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <br>
    <br><br>

    <h2>{% trans "Participants" %}</h2>

    <div style="height:200px">
        {% for user in group.members.all %}
            <div class="user-card" style="display:inline-block;">
                <div class="avatar">
                    <img src="{{ user.profileImage|thumbnail:"50x50" }}" title="User" alt=""/>
                </div>
                <div class="details">
                    <p><strong>{{ user.first_name }} {{ user.last_name }}</strong><br/>
                        {{ user.phone }}<br/>
                        <a href="{% url app.admin.views.user.view user.id %}">{% trans "Details" %}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}  