{% extends "offers/base.html" %}
{% load menu_tags %}
{% load i18n %}

{% block content %}
    <table class="datatable">

        <thead>
        <tr>
            <th>{% trans "Offer number" %}</th>
            <th>{% trans "Title" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.offer_number }}</td>
                <td><a href="{% url app.offers.views.view offer.id %}">{{ offer.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>


    </table>

{% endblock %}