{% extends "offers/base.html" %}
{% load i18n %}


{% block content %}


    <br><h5>{% trans "Description" %}</h5>
    {{ offer.description|linebreaksbr }}

    <br>

    <div id="accepted_status">
        {% if offer.accepted == "0" %}
            <span class="tag gray">{% trans "Pending" %}</span>
        {% endif %}
        {% if offer.accepted == "1" %}
            <span class="tag green">{% trans "Accepted" %}</span>
        {% endif %}
        {% if offer.accepted == "2" %}
            <span class="tag red">{% trans "Declined" %}</span>
        {% endif %}
    </div>

    <div class="products">
        <br><h5>{% trans "Products" %}</h5>

        <table>

            <thead>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Unit cost" %}</th>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Tax" %}</th>
            <th>{% trans "Total price" %}</th>
            </thead>

            <tbody>
            {% for product_line in offer.product_lines.all %}

                <tr class="product">
                    <td>
                        {{ product_line.product }}
                    </td>
                    <td>
                        {{ product_line.description }}
                    </td>
                    <td>
                        {{ product_line.price }}
                    </td>
                    <td>
                        {{ product_line.count }}
                    </td>
                    <td>
                        {{ product_line.tax }}
                    </td>

                    <td>
                        {{ product_line.get_total_sum }}
                    </td>

                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock %}