{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
    {% include "offers/sidebar.html" %}
{% endblock %}


{% block maincontent %}

    <style>
        #accepted_status {
            position: absolute;
            margin-left: 650px;
        }
    </style>

    <h1>{% trans "Offer" %}: {{ title }}</h1>


    <br><h5>{% trans "Description" %}</h5>
      {{ offer.description|linebreaksbr }}


    <br>

    <div id="accepted_status" style="color:{{ offer.get_accepted_status.1 }}">
        {{ offer.get_accepted_status.0 }}
    </div>

    <div class="products">
        <br><h5>{% trans "Products" %}</h5>

        <table>

            <thead>
            <th>Item</th>
            <th>Description</th>
            <th>Unit cost</th>
            <th>Qty</th>
            <th>Tax</th>
            <th>Total</th>
            </thead>

            <tbody>
            {% for product in offer.product_lines.all %}

                <tr class="product">
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>

                    <td>
                        100kr
                    </td>

                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock %}