{% load i18n %}

<div id="title_calendar" style="text-align:center;"><h1> {{ current_month.1 }}.{{ current_month.0 }} </h1></div>

<div id="arrows" style="text-align:center;">
    <a href="{{ last_month_link }}" id="decrement_month_arrow"><<</a> |
    <a href="{{ next_month_link }}" id="increment_month_arrow">>></a>
</div>

<table>
    <tr>
        <td>{% trans "User" %}</td>
        {% for day in days_in_month %}
            <td>{{ day }}</td>
        {% endfor %}
    </tr>

    {% for user, days in cal.items %}

        <tr>

            <td>{{ user }}</td>

            {% for days, events in days.items %}

                {% if events %}

                    <td id="events_{{ user.id }}_for_day_{{ days }}_button"
                        style="width: 28px; background-color: {% for event in events %} {{ event.type.color }}{% endfor %}">
                    </td>

                    <div class="info" id="events_{{ user.id }}_for_day_{{ days }}">
                        <h1>Hendelser for {{ user }}, den {{ days }}</h1> <br>

                        {% for event in events %}
                            <a href="/calendar/{{ event.id }}/edit">{{ event }}</a> <br>
                            <br><br>
                        {% endfor %}

                    </div>

                    <script>
                        $(function() {
                            $("#events_{{ user.id }}_for_day_{{ days }}").hide();

                            $("#events_{{ user.id }}_for_day_{{ days }}_button").click(function() {
                                $("#events_{{ user.id }}_for_day_{{ days }}").dialog();
                            });
                        });
                    </script>

                {% else %}

                    <td style="width: 28px; background-color: green"></td>

                {% endif %}

            {% endfor %}

        </tr>
    {% endfor %}


</table>

