{% extends "base.html" %}
{% load auth %}

{% block sidebar %}
    {% include "dashboard/sidebar.html" %}
{% endblock %}

{% block maincontent %}


    {{ title }}

    <h2>{{ announcement.title }}</h2>

    {{ announcement.text }}

    <p>
        Skrevet av {{ announcement.creator.first_name }}, {{ announcement.date_created|date:"d.m.Y H:i" }}

        <br><br>
        {% if announcement.attachment %}
            <img src="/media/images/icons/downloadBox.png" style="width:30px; height:30px; vertical-align:middle;">
            <a target="_blank" href="/media/{{announcement.attachment}}">Last ned vedlegg</a>
        {% endif %}
        <br><br>


{% endblock %}