{% extends "base.html" %}

{% block submenu %}
    <a href="add"><span>Oprett nytt produkt</span></a>
{% endblock %}

{% block maincontent %}

    <div class="portlet x12">

    <div class="portlet-header"><h4>{{ title }}</h4></div>

    <div class="portlet-content">



    <table class="tablesorter">
        <thead>
        <tr>
            <th>Produkt</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>


        {% for p in products %}

            <tr>
                <td><a href="{{ p.getViewUrl }}">{{ p }}</a></td>

                <td>

                    <div class="tool">
                        <a href="{{ p.getEditUrl }}"><img
                                class="tool" src="/media/icons/edit.gif" alt=""></a>
                    </div>


                </td>


            </tr>

        {% endfor %}


        </tbody>

    </table>
{% endblock %}
